<script src="/js/highcharts.src.js"></script>
<script src="/js/exporting.src.js"></script>
<div id="container" style="min-width: 500px; height: 400px;  float:left;">
  <script type="text/javascript">
      $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Number of audits  by Region'
            },
            subtitle: {
                
            },
            xAxis: {
                categories: [
                       <%@audit_locations.each do |lo|%>
                      ['<%=lo.name%>'],
                      <%end%>


                  ],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: ' audit count in number ',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' millions'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 5,
                y: 20,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [ {
                name: 'number of audits',
                data: [
                      <%@audit_locations.each do |lo|%>
                      [<%=lo.count%>],
                      <%end%>

                  ]
            }]
        });
    });
    


  </script>
</div>