<script src="/js/highcharts.src.js"></script>
<script src="/js/exporting.src.js"></script>
<div id="contain" style="min-width: 600px; height: 400px;  float:left;">
  <script type="text/javascript">
      $(function () {
          $('#contain').highcharts({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              credits: {
                  enabled: false
              },
              title: {
                  text: ' Audit by status '
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          color: '#000000',
                          connectorColor: '#000000',
                          format: '<b>{point.name}</b>: {point.y:.2f} '
                      }
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Audit Counts',
                  data: [
                      <%@audit_status.each do |lo|%>
                      ['<%=lo.status%>',<%=lo.count%>],
                      <%end%>

                  ]
              }]
          });
      });


  </script>
</div>