<div class="container">
<title>Audit</title>
<!-- <p> <a href="/admin/settings">Company Admin Settings</a></p> -->
<!-- <p> <a href="/activities">Audit Trail</a></p> -->
<p> <h4>FixNix Audit Management</h4></p>
<%= render "by_status" %> 
<%= render "by_location" %> 

<div id="footer-adjust"></div>
</div>