<div class="container">
<title>Audit</title>
<!-- <p> <a href="/admin/settings">Company Admin Settings</a></p> -->
<!-- <p> <a href="/activities">Audit Trail</a></p> -->
<%= render "audit_dashboard"%>

</div>