.user-name {
    float: left;
    height: 22px;
    max-width: 150px;
    min-width: 75px;
    overflow: hidden;
    padding: 0 0 0 5px;
}
.user_login > img {
    float: left;
}
#login_drop {
    padding: 35px 0 0;
}
#login_drop img {
    padding: 5px 0 0;  float: right;
}
.backspace { margin-left: -4px; }

.k-calendar-container .k-link{
	 color: #2E2E2E;
}
.k-state-disabled, .k-state-disabled .k-link, .k-state-disabled .k-button, .k-button.k-state-disabled:active, .k-other-month .k-link, .k-dropzone em, .k-tile-empty strong, .k-slider .k-draghandle {
    color: #9F9E9E;
}

.k-loading-hidden{
	display: none;
}

.file-list{
	padding: 8px 0 0 10px;
}
.file-body{
	 padding: 0 0 0 12px;
}
.success_msg{ color: #59C774;font-size: 12px;padding: 0 30px 0 0;}