.user-name {
    float: left;
    height: 22px;
    max-width: 150px;
    min-width: 75px;
    overflow: hidden;
    padding: 0 0 0 5px;
}
.user_login > img {
    float: left;
}
#login_drop {
    padding: 35px 0 0;
}
#login_drop img {
    padding: 5px 0 0;  float: right;
}
