@media only screen 
and (min-width : 240px) 
and (max-width : 480px) {
ul.list-tab {
    margin: 20px 0 0 15px;
}	
.list-tab li a {
	padding: 5px;
}
.footer{ padding:10px 0;}
.footer_left{ text-align:center;}
.footer_right{ text-align:center;}
.sub_menu{ height:auto;}
.navbar-header {
    float: left;
}
.header .container {
    padding: 0 5px !important;
}
.navbar-nav li a {
  border: medium none;
  width: 120px;
}

.user_login {
  margin-top: 8px;
  padding: 5px 2px; 
 
}

.navbar-collapse {
    float: inherit; border-color: transparent;
}
.main_nav {
  float: left;
  margin: 10px 0 0 !important;
  padding: 0 !important;
  width: 100%;
}
.navbar-nav li:last-child a{ border: none;}
.navbar-nav li a{ border: none;}

.account_header_dropdown {

  margin-left: -2px;
  margin-top: -13px;

}


}


@media only screen 
and (min-width : 490px) 
and (max-width : 700px) {
.navbar-header {
    float: left;
}
.sub_menu{ height:auto;}
.footer_left{ float:left;}
.navbar-collapse {
    float: inherit;
}
.main_nav {
  float: left;
  margin: 10px 0 0 !important;
  padding: 0 !important;
  width: 100%;
}
.navbar-nav li:last-child a{ border: none;}
.navbar-nav li a{ border: none;}
.navbar-nav li a {
  border: medium none;
  width: 120px;
}
}

@media only screen 
and (min-width : 650px) 
and (max-width : 1024px) {
/* Styles */
.navbar-header {
	float: left
}
.list-tab li a {
	padding: 5px;
}
.footer_left{ float:left;}
.sub_menu{ height:auto;}


}



