	/* CSS Document */
.fleft {
	float: left;
}
.fright {
	float: right;
}
.header {
	height: 60px;
	border-bottom: 5px solid #0085c8;
	background: none repeat scroll 0 0 #F7F7F7;
}
.main_nav a.active {
	background-color: #0085C8;
	color: #FFFFFF !important;
}
.sub_menu {
	background-color: #181818;
	height: 57px;
}
.subbar-nav li {
	float: left;
	/*width: 107px;*/
    text-align: center;
}
.subbar-nav li a {
	color: #fff !important;
	padding: 3px 32px;
	border: none !important;
	border-bottom:5px solid #181818;
	 height:57px;
	 text-decoration: none;
}
.subbar-nav li a.active,.subbar-nav li a:hover {
	border-bottom: 5px solid #ffa200 !important; background-color:transparent !important;
}
.content {
	min-height: 400px;
}
.footer {
	height: 70px;
	background-color: #363535;
	color: #9f9d9d;
	padding: 25px 0;
	left: 0;
	right: 0;
	bottom: 0!important;
  position:inherit;

}
.user_login {
	color: #717171;
	float: right;
	font-family: 'Open Sans';
	font-size: 13px;
	padding: 20px 15px 11px;
	background-color: #dddee0;
	position: relative;
	z-index: 999999;
}
.account_header_dropdown {
	background: none repeat scroll 0 0 #fff;
	border-top: 0 none;
	box-shadow: 0 1px 1px #838383;
	color: #181818;
	display: none;
	margin-left: -15px;
	margin-top: 8px;
	position: absolute;
	width: 100%;
	z-index: 60000;
	top: 47px;
}
.account_header_dropdown li a:hover{ color:#0085C8;}
.account_header_dropdown > ul {
	padding: 5px 0 0 15px;
}
.account_header_dropdown li {
	list-style: none;
}
.account_header_dropdown li a {
  color: #181818;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.list-tab li a {
	margin: 0 10px 0 0;
	padding: 5px 30px;
}
.list-tab li.active a, .list-tab li a:hover, .list-tab li a:focus {
	background: none repeat scroll 0 0 #6C6C6E;
	color: #FFFFFF;
}
.list-tab li a {
	background-color: #e1e1e2;
	color: #4a4848;
}
ul.list-tab {
	margin: 20px 0 0 45px;
}
.tab-content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E7E7E8;
	/*min-height: 450px;*/
	margin-bottom: 15px;
}
.list-table td, .list-table th {
	border-right: 1px solid #DDDDDD;
}
.list-table {
	margin: 2%;
	width: 96%;
	border: 1px solid #E8E9EB;
}
.list-table tr th, .list-table tr td {
	padding: 10px 20px;
}

.navbar-nav li:last-child a {
    border-right: 1px solid #C9C9C9;
}

.list-table th {
	background-color: #0085c8 !important;
	font-weight: normal;
	color: #fff;
}
.dash-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
}
.calender-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -30px 0;
	margin: 0 auto;
}
.plan-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	margin: 0 auto;
}
.list-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -90px 0;
	margin: 0 auto;
}
.do-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -120px 0;
	margin: 0 auto;
}
.check-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -150px 0;
	margin: 0 auto;
}
.act-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -180px 0;
	margin: 0 auto;
}
.published-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -210px 0;
	margin: 0 auto;
}
.setting-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -240px 0;
	margin: 0 auto;
}
.sort-icon {
	background-image: url("/assets/outer/sort-icon.png");
	background-repeat: no-repeat;
	width: 7px;
	height: 16px;
	display: inline-block;
}
.overview-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	  float: left;
}
.audit-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: -25px 0;
	margin: 0 auto;
	  float: left;
}
.risk-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: -50px 0;
	margin: 0 auto;
	  float: left;
}

a.active .overview-icon, a:hover .overview-icon {
	background-position: 0 -25px;
}
a.active .audit-icon, a:hover .audit-icon {
	background-position: -25px -25px;
}
a.active .risk-icon, a:hover .risk-icon {
	background-position: -50px -25px;
}
a.set-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: 0 -20px;
}
a.tick-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -20px -20px;
}
a.tick1-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -40px -20px;
}
a.book-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -60px -20px;
}
a.pdf-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -80px -20px;
}
a.edit-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -100px -20px;
}
a.set-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 5px;
	display: inline-block;
}
a.tick-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -20px 0;
	margin: 0 5px;
	display: inline-block;
}
a.tick1-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -40px 0;
	margin: 0 5px;
	display: inline-block;
}
a.book-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	margin: 0 5px;
	display: inline-block;
}
a.pdf-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -80px 0;
	margin: 0 5px;
	display: inline-block;
}
a.edit-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -100px 0;
	margin: 0 5px;
	display: inline-block;
}
.footer_left{ text-align:left;}
.footer_right{ text-align:right}

.page_heading {
  color: #534e4e;
  font-family: 'Open Sans',Arial,Helvetica;
  font-size: 16px;
  margin-top: 30px;
}

.profile_photo_block {
  float: left;
  margin-right: 20px;
  position: relative; padding: 15px 0 0 15px;
}

.profile_photo {
    background: none repeat scroll 0 0 #FEFCFD;
    border: 1px solid #d7d6d6;
    float: left;
}

.profile_form {
    margin-top: 15px;
	float: left;
}

.profile_form label {
    width: 100px;
}

.profile_form input{ border-radius:5px; border:1px solid #dad9d9;
-moz-box-shadow:    inset 0 0 10px #dad9d9;
   -webkit-box-shadow: inset 0 0 10px #dad9d9;
   box-shadow:         inset 0 0 10px #dad9d9; padding: 5px 15px;

}

.profile_form select{
	border-radius:5px; border:1px solid #dad9d9;
-moz-box-shadow:    inset 0 0 10px #dad9d9;
   -webkit-box-shadow: inset 0 0 10px #dad9d9;
   box-shadow:         inset 0 0 10px #dad9d9; padding: 5px 5px;
	}

.pad_bttm {
  padding: 0 0 15px;
}

.user_main {
  background-color: #FFFFFF;
  border: 1px solid #E7E7E8;
  padding: 0 0 15px;
  margin-bottom: 100px;
}

.orange_btn {
  background-color: #FE9537;
  border: medium none;
  border-radius: 5px;
  color: #454343;
  font-size: 14px;
  padding: 5px 20px;
}

.orange_btn:hover{ background-color:#ffb674; color:#fff;}

.black_btn {
  background-color: #626262;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
}




/* Audit Page*/
.audit-title {
	background-color: #fff;
}
.audit-content {
	border: 1px solid #E1DDDD;
	display: inline-block;
	margin-bottom: 90px;
	padding: 20px 0;
}
.audit-title h2 {
	background: none repeat scroll 0 0 #0085C8;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: normal;
	padding: 5px 15px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}
.audit-content h3 {
	color: #4A4848;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin: 5px 0 10px;
	padding: 0 0 0 20px;
}
#datetimepicker1 {
	width: 150px;
}
#datetimepicker1 input {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
}
.addissue a {
	background-color: #DEE1E1;
	color: #454343;
	float: right;
	font-size: 12px;
	margin: 0 45px 0 0;
	padding: 5px 10px 5px 40px;
	border-radius: 5px;
}
.addissue a:hover {
	background-color: #929292;
}
.plus-icon {
	background-image: url("/assets/outer/plus-icon.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}
.minus-icon {
	background-image: url("/assets/outer/minus-icon.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}
.audit-title label {
	color: #4A4848;
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
}
.audit-title select {
	border: 1px solid #dad9d9 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #fff url("/assets/outer/select_bg.jpg") no-repeat 100% 0px;
	width: 100%; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #434348;
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 0 5px #dad9d9;
}
.audit-title .audit-big-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 100%;
	height: 80px;
}
.audit-title .audit-normal-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 100%;
	height: 35px;
}
.border-divider {
	border-bottom: 8px solid #f5f2f2;
	margin: 15px 0;
}
.checklist_select_big select {
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	width: 100%;
	background-image: url("/assets/outer/select_icon.png");
	background-repeat: no-repeat;
	background-position: 92% center;
	text-indent: 0.01px;
	text-overflow: "";
}
.high_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-right: 1px solid #3d3d3d;
	border-radius: 5px 0 0 5px;
}
.medium_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-right: 1px solid #3d3d3d;
}
.low_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-radius: 0 5px 5px 0;
}
.high_btn.active, .medium_btn.active, .low_btn.active {
	background-color: #606060 !important;
	color: #fff !important;
}
.padding15px {
	padding: 0 15px 0 0;
}
.error_content {
	font-size: 175px;
	margin-top: 50px;
	text-align: center;
	color: #0085C8;
}
.error_sub_content {
	font-size: 30px;
	text-align: center;
	color: #000;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.error_logo{ padding-top:15px; font-size:25px;}

.attach-icon{ background-image:url(/assets/outer/attach-icon.png); background-repeat:no-repeat;padding: 0 0 0 18px;}
.audit-title {
    color: #252525;
    font-size: 12px;
}

#Accordion1 a {
  color: #252525;
  font-size: 14px;
}
.blue_link{ font-size:12px !important; color:#0085c8 !important; text-decoration:underline !important;  }

.tab-content{padding-bottom: 30px; margin-bottom: 85px !important;display: inline-block;}
.pending_msg{ color: #E24141;font-size: 12px;padding: 0 30px 0 0;}
.complete_msg{ color: #606060;font-size: 12px;padding: 0 30px 0 0;}
.number_link a{
	background-color: #e0dedc;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding:1px 5px;font-size: 12px !important;}
.number_link a.active,.number_link a:hover{background-color: #F59035;}
.block_link a.active{ background-color:#dc7d01; color:#fff !important;}
.block_link a{ font-size:12px !important;padding: 4px 3px 4px 6px;background-color:#b6b5b5;line-height:30px;}

.black_btn {
  color: #FFFFFF !important;
}

.tab_main_title {
  color: #534E4E;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0;
  padding: 0 30px;
}

.grey_btn {
    background-color: #c3c1c1;
    border: medium none;
    border-radius: 5px;
    color: #302f2f !important;
    font-size: 14px !important;
    padding: 5px 20px;
}
.pending_active{  background: none repeat scroll 0 0 #D8D5D5 !important;}
.grey_btn:hover{ background-color:#dbd8d8;}


.audit-title h3 {
    color: #4A4848;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 10px;
    padding: 0 0 0 20px;
}

.paddingtop{ padding-right: 15px;
    padding-top: 15px;}





/* footer,notice alignment*/
.navbar{
	background:none!important;
	border:none;
}
.black_btn:hover{ background-color:#929292; color:#454343;}
.main_nav li a{
	padding: 18px 20px !important;
	color:#000!important;
	text-decoration: none;
}
.main_nav li a:hover {
	color:#FFFFFF!important;
	}
.navbar-header a{
	text-decoration: none;
	color:#999999!important;
}

#footer-adjust {
  min-height: 335px;
}
.user-name {
    float: left;
    height: 22px;
    max-width: 150px;
    min-width: 75px;
    overflow: hidden;
    padding: 0 0 0 5px;
}
.user_login > img {
    float: left;
}
#login_drop {
    padding: 35px 0 0;
}
#login_drop img {
    padding: 5px 0 0;  float: right;
}



.profile_photo {
    background-image: url("/assets/outer/face-image.jpg");
   position:relative;
	width:102px; height:102px;
	border:1px solid #666;
    cursor: pointer;border-radius: 3px;
}


.profile_photo_sec {
    background-image: url("/assets/outer/upload-image.png");
   position:absolute;
	bottom:0; width:100px; height:100px; left:0; display:none;
	background-repeat:no-repeat; background-position:bottom center;
}
.profile_photo:hover .profile_photo_sec{ display:block;}

.profile_img {width: 100px;height: 100px;}


.profile_form input[type="submit"] {
    box-shadow: none;
}

.error_message {
color: #932419;
text-align: left;
}

.error_inputfield input{ border:1px solid  #932419!important;}
.add-btn{
	 margin: 0 0 20px 122px;
	float: left;
}
.add-btn-padding{
	padding: 6px 0;
	display: block;
}

.error_input { border:1px solid  #932419!important;}

/*Import Section*/
@import url("fullcalendar.css");	/* Calendars Styles */

.audit_search input[type="text"] {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  float: left;
  height: 30px;
  margin: 5px 0 0 12px;
  padding: 0;
  width: 233px;box-shadow: none;
}
.audit_search input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  color: rgba(0, 0, 0, 0);
  height: 38px;
  width: 38px;
}

.audit_search{ background-image: url("/assets/outer/search_bg.png"); width:287px; height: 38px;}

.audit_search {
    margin: 4px 0 0; position: relative; z-index: 99999;
}
.plusround-icon {
    background-image: url("/assets/outer/add-btn.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
     height: 19px;
    margin-top: 8px;
    padding: 10px;

    width: 19px;
    display: inline-block;
}

a.plus-background{
	 background-color: rgba(0, 0, 0, 0) !important;
	    float: left;
    margin:8px 0 0;
}

.minusround-icon {
    background-image: url("/assets/outer/minus-btn.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 19px;
    margin-top: 8px;
    padding: 10px;
    width: 19px;
}

.comaduit_resp .col-sm-10{width: 83.3333% !important;}
.comaduit_resp input {
    margin-bottom: 15px;
}
#skip_reminder {
    margin-top: 12px;
}
.text-align-right{ text-align: right;}

.datepicker {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
}

.upload-icon {
  background-image: url("/assets/outer/upload-icon.png");
  background-position: 15px 6px;
  background-repeat: no-repeat;
}

.download-file-icon {
  background-image: url("/assets/outer/download-icon-file.png");
  background-position: 15px 6px;
  background-repeat: no-repeat;
}


/*DashBoard page start*/
.dashboard_main{ padding-bottom:100px;}
.dash_sub_title{ background-color:#8d9094; padding: 10px 15px; color:#fff;box-shadow: 0 0 5px #d5d6d6;}
.dashboard-title{ color:#5b5a5a; font-size:20px;font-family: 'Open Sans'; font-weight:600; padding:15px 20px;}
.dashboard_menu{ border:1px solid #dfdfdf; padding:20px 0 0; background-color:#fff; margin-bottom:15px; height:135px;}
.dash_menu_a{margin-top: 35px;}
.dashboard_menu li{float: left; list-style:none;}
.dashboard_menu li a {
    display: inline-block;
    padding: 21px 60px;color:#fff;  /*border-right: 1px solid #fff;*/text-align: center;
}
.dashboard_menu > ul {
  padding: 0 0 0 20px;
}
.dash_menu_a a {color: #fff;padding: 40px 55px; /*border-right:1px solid #fff;*/}
.dashboard_menu .lightgreen{ /*background-color:#60db47;*/}
.dashboard_menu .drakgreen{ /*background-color:#42bc29;*/ }
.dashboard_menu .grey{ /*background-color:#d2d2d1;*/}
.db_aduitdetails {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 5px #d5d6d6;
  padding:10px 0 0;margin-bottom:15px;color:#8c8a8a;
}
.db_audit_com_txt{box-shadow: 0 0 5px #d5d6d6;}
#auditcompliancerating ,#ISMSAuditScore{ box-shadow: 0 0 5px #d5d6d6; margin-bottom:15px;}
.db_todolist{margin-bottom:15px; background-color:#fff;min-height: 150px; box-shadow: 0 0 5px #d5d6d6;}
.db_todolist_insec{color:#0085c8; font-size:13px;}
.time-icon {
  background-image: url("/assets/outer/time-icon.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  color: #aaa9a9;
  font-size: 11px;
  font-style: italic;
  height: 13px;
  padding: 3px 15px;
  width: 12px;
}
.completedlink{ color:#fff; background-color:#85de73; border-radius:3px; border:1px solid #74d162; display: inline-block;
  padding: 0 5px;
  text-align: center;
  width: 90px;}
.pendinglink {
  background-color: #fc3535;
  border: 1px solid #fc3535;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  width: 90px;
}
.db_todolist_info{ padding:10px 0 10px 10px; border-bottom:1px solid #e5e5e5;}




.checkbox_wrapper{
    background:url("/assets/outer/unchecked.jpg") no-repeat;
    height: 20px;
    width: 20px;
    display:inline-block;float:left;
   }
.db_inform{ float:left;padding: 0 25px 0 18px;}
.checkbox_wrapper.active{
    background:url("/assets/outer/checked.jpg") no-repeat;
}
.db_aduitdetails label{ color:#181818;}
.db_audit_com{ margin-bottom:15px;}
.db_audit_com_icon{  background: url("/assets/outer/db_audit_com_icon.png") no-repeat scroll 20px 20px #f19a01;
    height: 30px;
    padding: 35px;
    width: 30px;}
.download-icon{  background: url("/assets/outer/download-icon.png") no-repeat scroll 5px 6px;
    height: 16px;
    width: 17px;}
	.download-aff-icon{  background: url("/assets/outer/download-aff-icon.png") no-repeat scroll 5px 6px;
    height: 16px;
    width: 17px;}
.db_audit_com_txt{ background-color:#fff; color:#6e6e6e; font-size:18px; text-align:center;padding: 21px 0;}
.db_audit_com_txt b{ color:#0085c8; font-size:20px;}
.aduit_status{ height:275px;box-shadow: 0 0 5px #d5d6d6;}
.db_download_btn {
  background: none repeat scroll 0 0 #f3f4f5;
  border-top: 1px solid #dfdfdf;
  padding: 15px 0;
  text-align: center;
}
.db_download_btn a{ background-color:#f19a01; border:1px solid #d58b09; padding:5px 5px 5px 28px; color:#fff; font-size:13px; border-radius:3px;margin: 0 10px;}
.db_download_btn a:hover{ background-color:#8D9094;  border:1px solid #8D9094;}
.db-plan-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:0 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-do-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-35px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-check-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-70px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-act-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-104px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-publish-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-140px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}


#arrow {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
    /*border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:10;
}
#arrow:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}


#arrow1 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
   /* border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:8;
}
#arrow1:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow1:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}



#arrow2 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
   /* border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:7;
}
#arrow2:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow2:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}



#arrow3 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
    /*border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:6;
}
#arrow3:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow3:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}

#arrow4 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
    /*border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:5;
}
#arrow4:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow4:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}
/*DashBoard page End*/



.a_lightgreen{  background-color: #60DB47!important;}
.a_lightgreen:after{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #60DB47!important;}


.a_drakgreen{  background-color: #42BC29!important;}
.a_drakgreen:after{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #42BC29!important;}


.a_grey{  background-color: #D2D2D1!important;}
.a_grey:after{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #D2D2D1!important;}






/*dashboard main start*/
.db_setting,.db_setting1,.db_setting2,.db_setting3 {
  cursor: pointer;
  float: right;
  padding: 0 0 40px;
  position: absolute;
  right: 30px;
  z-index: 100;
}

.db_setting_down_icon ,.db_setting_down_icon1,.db_setting_down_icon2,.db_setting_down_icon3{
  background-image: url("../images/db_settingdown-icon.png");
  background-position: 0 23px;
  background-repeat: no-repeat;
  margin: 0 0 0 30px;
  padding: 10px 10px 20px;

}

.db_setting_dropdown,.db_setting_dropdown1,.db_setting_dropdown2,.db_setting_dropdown3 {
  background: none repeat scroll 0 0 #e8e8e8;
  padding: 0 15px;
  position: absolute;
  right: -20px;
  top: 30px;
  z-index: 60000; display:none;
}
.db_setting_dropdown a,.db_setting_dropdown1 a,.db_setting_dropdown2 a,.db_setting_dropdown3 a{ color:#8D9094; text-align:left;}
.db_setting_dropdown a:hover,.db_setting_dropdown1 a:hover,.db_setting_dropdown2 a:hover,.db_setting_dropdown3 a:hover{ color:#fff;}
.db_setting_main{ margin-bottom:15px;}
.db_setting_dropdown li,.db_setting_dropdown1 li,.db_setting_dropdown2 li,.db_setting_dropdown3 li{ list-style:none;}
.db_setting_dropdown ul,.db_setting_dropdown1 ul,.db_setting_dropdown2 ul,.db_setting_dropdown3 ul{ padding:0;}
.db_chart_content{box-shadow: 0 0 5px #d5d6d6; }
.db_chart_content img {
    width: 100%;
}

.add_widget_btn{ background-color:#fe9537; color:#fff; border:1px solid #e77f23; border-radius:3px; font-size: 14px;
    padding: 3px 10px; font-weight:normal;}
.add_widget_btn:hover{ color:#8D9094;}

.select_outer{
	background: url("../images/select_bg.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: 1px solid #dad9d9 !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #dad9d9 inset;
    color: #434348;
    overflow: hidden;
    padding: 0 3px;
    width: 140px;
	}
.select_outer select {
  background-color: transparent;
    border: medium none;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    width: 152px;

}
.modal-padding {
  padding: 0 20px 0 0;
}
.modal-title {
  background-color: #0085c8;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0 5px 10px; border-radius: 4px 4px 0 0;
}
.model-con {
    min-height: 250px;
    padding: 15px;
}
.modal-content label{ font-size:14px; font-weight:normal;}
.modal-normal-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 300px;
	height: 35px; font-size:14px; font-weight:normal;
}
.modal-dialog_addwidget{ width:350px !important;}
.border_line {
    background: none repeat scroll 0 0 #E7E7E8;
    height: 1px;
    margin: 5px 0 15px;
}
.company-name {
  padding-top: 9px;
}
.ask-auditee-btn {
  margin: 0 45px 0 0;
}

/*Risk Style Starts here*/
/*---------------------------Risk Pages ------------------------------*/
.file-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url(/assets/outer/risk-menu-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
}
.listing-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url(/assets/outer/risk-menu-icons.png);
  background-repeat: no-repeat;
  background-position: -39px 0;
  margin: 0 auto;
}
.lmitigate-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url(/assets/outer/risk-menu-icons.png);
  background-repeat: no-repeat;
  background-position: -78px 0;
  margin: 0 auto;
}
.review-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url(/assets/outer/risk-menu-icons.png);
  background-repeat: no-repeat;
  background-position: -120px 0;
  margin: 0 auto;
}
.risk-title{
  font-size:24px;
  color:#434242;
  float:left;
  padding:20px 10px;
}

.k-filter-help-text, .k-filter-menu .k-widget {
  margin: 0.3em 0;
}
/*--------------Submit Risk --------------*/
.sub-wrap{
  width:100%;
  background:#FFFFFF;
  min-height:100px;
  box-shadow:0 0 5px #C0BFBF;
  margin:0 0 30px 0;
}
.sub-titile{
  background-color:#0085c8;
  padding:10px 20px;
  color:#ffffff;
  font-size:14px;
  margin:0 0 20px 0;
}
.sub-wrap .form-horizontal .control-label{
  text-align:left;
}
.risk-wrap{
  margin:0px;
}
.risk-select {
  border: 1px solid #dad9d9 !important;  /*Removes border*/
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: #fff url("/assets/outer/select_bg.jpg") no-repeat 100% 0px;
  width: 100%; /*Width of select dropdown to give space for arrow image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
  color: #434348;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #dad9d9;
  overflow:hidden;
}
.risk-wrap label {
  color: #4A4848;
  font-size: 13px;
  font-weight: normal;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}
.risk-select select{
  width:115%;
  padding: 5px;
  background: none repeat scroll 0 0 transparent;
  border:none;
  height:32px;
}
.risk-wrap .risk-normal-input {
  border-radius: 5px;
  border: 1px solid #dad9d9;
  -moz-box-shadow: inset 0 0 5px #dad9d9;
  -webkit-box-shadow: inset 0 0 5px #dad9d9;
  box-shadow: inset 0 0 5px #dad9d9;
  padding: 5px 5px;
  width: 100%;
  height: 35px;
}
.likelihood{
  border:1px solid #dddfe1;
  border-radius:2px;
  background:#f3f5f7;
  max-width:1100px;
  margin:0 0 20px 0;
  padding:5px 0;
}
.risk-big-input {
  border-radius: 5px;
  border: 1px solid #dad9d9;
  -moz-box-shadow: inset 0 0 5px #dad9d9;
  -webkit-box-shadow: inset 0 0 5px #dad9d9;
  box-shadow: inset 0 0 5px #dad9d9;
  padding: 5px 5px;
  width: 100%;
  height: 80px;
}
.risk-save-btn {
  background:#fe9537;
  text-shadow: 1px 1px 1px #fc4e02;
  padding:5px 10px;
  color:#ffffff;
  text-decoration:none;
  margin:20px 0 20px 10px;
  border-radius:4px;
  min-width:50px;
  text-align:center;
}
.btn-wrap{
  margin-right:50px;
}
/*--------mitigation box-----------------*/
.mitigation-box-wrap{
  margin:20px 0;
}
.mitigate-box{
  background:#ffffff;
  height:60px;
  box-shadow:1px 0 5px #949494;
  vertical-align:middle;
  display:table-cell;
  min-width:170px;
}
.mitigation-sub{
  background:#ffffff;
  height:60px;
  box-shadow:1px 0 5px #949494;
  vertical-align:middle;
  display:table-cell;
  width:100%;
  min-width:563px;
}
.mitigation-status{
  background:#ffffff;
  height:60px;
  box-shadow:1px 0 5px #949494;
  vertical-align:middle;
  display:table-cell;
  width:100%;
  min-width:272px;
}
.mitigation-recomm{
  background:#ffffff;
  box-shadow:1px 0 5px #949494;
  vertical-align:middle;
  display:table-cell;
  width:100%;
  margin:10px 0 10px 0;
}
.risk-assetes{
  margin:0px 0 10px 0;
}
.mitigation-percive{
  background:#FFF!important;
  box-shadow:1px 0 5px #949494;
  width:100%;
  margin:10px 0;
  display:block;
}
.mit-plan-effort{
  margin:20px 0 0 0;
}
.mit-reccom-title{
  background:#0085c8;
  padding:10px 10px 10px 10px;
  color:#FFF;
  font-weight:700;
}
.mitigation-recomm p {
  padding:10px;
  font-size:13px;
}
.red-box{
  background:#f71919;
  min-height:60px;
  box-shadow:1px 0 5px #949494;
  float:left;
  width:82px;
  vertical-align:middle;
  display:table-cell;
  text-align:center;
  margin-right:20px;
}
.box-id{
  margin-left:100px;
}
.risk-box-text{
  font-size:16px;
  padding:0 10px 0 5px;
  display:inline-block;
}
.risk-box-lable{
  font-size:16px;
  font-weight:bold;
  padding:0 0 0 20px;
  float:left;
  color:#545454;
  display:inline-block;
}
.red-box .number{
  font-size:28px;
  color:#FFF;
  font-weight:bold;
  line-height:36px;
}
.red-box .text{
  font-size:14px;
  color:#FFF;
}
.table-bg{
  background:#FFF;
  border:1px solid #ddd;
  box-shadow:1px 0 5px #949494;
}
.risk-able-th{
background:#0085c8 !important;
color:#FFF;
}
.risk-wrap .form-horizontal .control-label{
  text-align:left;
}
.mit-reccom-title-sp{
  background:#0085c8;
  padding:10px 10px 10px 10px;
  color:#FFF;
  font-weight:700;
  margin:0 0 20px 0px;
}
.btn-group{
  margin: 0 0 30px 0;
  float:right;
}
.btn-group a{
  margin:0 10px 0 0;
}
.mgt-text{
  font-size:13px;
  padding:7px 0 0 0;
}
.mgt-label{
  font-weight:600!important;
  color:#4a4848;
  padding:0px;
}
.text-area{

margin-bottom:20px !important;

}
.table-bg label{
  font-weight:600;
}
.table-bg label, span{
  font-size:13px;
  color:#4a4848;
}
.search-box{
  margin:0 0px 0 0;
  padding:10px;
  background:#ededed;
  border:1px solid #dadbdc;
  border-bottom:none;
  min-height:50px;
}
.search-box input{
  font-size:14px;
  color:#7A7878;
  font-weight:normal;
  margin:0 20px 0 0;
  padding:5px;
  border-radius:4px;
  border:1px solid #ddd;
  position:relative;
  min-width:250px;
}
#frmSearch{
  position:relative;
  width:250px;
  float:right;
}
.search-box button{
  position:absolute;
   background: none repeat scroll 0 0 #fff;
    border: medium none;
    min-height: 17px;
    padding: 5px;
    position: absolute;
    right: 11px;
    top: 1px;
}
.search-box .btn-search{
  background:url(/assets/outer/search-icons.png) no-repeat;
  width:20px;
  height:20px;
  display:block;
  background-color:transparent;
}
.page-wrap{
  min-height:100%;
  position:relative;
}
html,body{
  height:100%;
}
.footer{
  left:0;
  bottom:0;
  width:100%;
}
.box-wrapper{
  margin:0 0 150px 0;
}

.row-sp{
	margin:0 0 20px 0;
}
.table-bg td{
	border-right:1px solid #c9c9c9;
	padding:10px 20px!important;
}
.orange-method{
	color:#d47d01;
	font-style:italic;
}
.base-score-matrix{
	background:#98999b;
	padding:10px 15px;
	color:#fefefe;
	text-shadow: 1px 0px 0 #464646;
	font-size:14px;
	position:relative;
}
.matrix-padding{
	padding:0px;
}
.exploitability{
	color:#0275af;
	padding:15px 0 0px 0px;
	margin:0 15px;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #FFF;
	font-size:14px;
}
.emp-hr{
	border-bottom:1px solid #cbcccd;
	padding:0px;
	margin:10px 20px;
	display:block;
}
.up-triangle {
   width: 0; 
   height: 0; 
   border-bottom: 20px solid #98999b; 
   border-left: 20px solid transparent; 
   border-right: 20px solid transparent; 
   position:absolute;
   right:20px;
   top:-14px;
}
.gr-btn{
	padding:0 -10px 0 0;
}
.download-icons{
	background:url(/assets/outer/download-icons.png) no-repeat;
	width:25px;
	height:22px;
	display:block;
	background-color:transparent;
	display:inline-block;
	float:left;
	margin:0 10px 0 0;
	
}
.import-btn{
	background:#fe9537;
	border:1px solid #dc771d;
	padding:8px 8px;
	border-radius:6px;
	width:150px;
	float:right;
	margin:15px 17px 10px 0;
	color:#ffffff;
	text-shadow: 1px 0px 0px #ac5405;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.import-btn:hover{
	color:#FFF;
}
.show-text{
	padding:10px 15px;
	float:left;
	color:#066666;
	text-shadow: 1px 0px 0px #ffffff;
}
.likelihood{
  border:1px solid #dddfe1;
  border-radius:2px;
  background:#f3f5f7;
  margin:0 0 20px 0;
  padding:5px 0;
}
.matrix-padding{
  padding:0px;
}
.base-score-matrix{
  background:#98999b;
  padding:10px 15px;
  color:#fefefe;
  text-shadow: 1px 0px 0 #464646;
  font-size:14px;
  position:relative;
}
.up-triangle {
   width: 0;
   height: 0;
   border-bottom: 20px solid #98999b;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   position:absolute;
   right:20px;
   top:-14px;
}
.exploitability{
  color:#0275af;
  padding:15px 0 0px 0px;
  margin:0 15px;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px #FFF;
  font-size:14px;
}
.emp-hr{
  border-bottom:1px solid #cbcccd;
  padding:0px;
  margin:10px 20px;
  display:block;
}
.show-text{
  padding:10px 15px;
  float:left;
  color:#066666;
  text-shadow: 1px 0px 0px #ffffff;
}
.orange-method{
  color:#d47d01;
  font-style:italic;
}
