.fleft {
	float: left;
}
.fright {
	float: right;
}
.header {
	height: 60px;
	border-bottom: 5px solid #0085c8;
	background: none repeat scroll 0 0 #F7F7F7;
}
.main_nav a.active {
	background-color: #0085C8;
	color: #FFFFFF !important;
}
.sub_menu {
	background-color: #181818;
	height: 57px;
}
.subbar-nav li {
	float: left;
	/*width: 107px;*/
    text-align: center;
}
.subbar-nav li a {
	color: #fff !important;
	padding: 3px 30px;
	border: none !important;
	border-bottom:5px solid #181818;
	 height:57px;
	 text-decoration: none;
}
.subbar-nav li a.active,.subbar-nav li a:hover {
	border-bottom: 5px solid #ffa200 !important; background-color:transparent !important;
}
.content {
	min-height: 400px;
}

.user_login {
	color: #717171;
	float: right;
	font-family: 'Open Sans';
	font-size: 12px;
	padding: 9px 10px 0px;
	background-color: #dddee0;
	position: relative;
	z-index: 999999;
	min-height: 54px;
	min-width: 200px;
}
.account_header_dropdown {
	background: none repeat scroll 0 0 #fff;
	border-top: 0 none;
	box-shadow: 0 1px 1px #838383;
	color: #181818;
	display: none;
	margin-left: -10px;
	margin-top: 8px;
	position: absolute;
	width: 100%;
	z-index: 60000;
	top: 39px;
}
.account_header_dropdown li a:hover{ color:#0085C8;}
.account_header_dropdown > ul {
	padding: 5px 0 0 15px;
}
.account_header_dropdown li {
	list-style: none;
}
.account_header_dropdown li a {
  color: #181818;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.list-tab li a {
	margin: 0 10px 0 0;
	padding: 5px 30px;
}
.list-tab li.active a, .list-tab li a:hover, .list-tab li a:focus {
	background: none repeat scroll 0 0 #6C6C6E;
	color: #FFFFFF;
}
.list-tab li a {
	background-color: #e1e1e2;
	color: #4a4848;
}
ul.list-tab {
	margin: 20px 0 0 45px;
}
.tab-content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E7E7E8;
	/*min-height: 450px;*/
	margin-bottom: 15px;
}
.list-table td, .list-table th {
	border-right: 1px solid #DDDDDD;
}
.list-table {
	margin: 2%;
	width: 96%;
	border: 1px solid #E8E9EB;
}
.list-table tr th, .list-table tr td {
	padding: 10px 20px;
}

.navbar-nav li:last-child a {
    border-right: 1px solid #C9C9C9;
}

.list-table th {
	background-color: #0085c8 !important;
	font-weight: normal;
	color: #fff;
}
.dash-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
}
.calender-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -30px 0;
	margin: 0 auto;
}
.plan-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	margin: 0 auto;
}
.list-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -90px 0;
	margin: 0 auto;
}
.do-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -120px 0;
	margin: 0 auto;
}
.check-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -150px 0;
	margin: 0 auto;
}
.act-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -180px 0;
	margin: 0 auto;
}
.published-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -210px 0;
	margin: 0 auto;
}
.setting-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -240px 0;
	margin: 0 auto;
}
.sort-icon {
	background-image: url("/assets/outer/sort-icon.png");
	background-repeat: no-repeat;
	width: 7px;
	height: 16px;
	display: inline-block;
}
.overview-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	  float: left;
}
.audit-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: -25px 0;
	margin: 0 auto;
	  float: left;
}
.risk-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: -50px 0;
	margin: 0 auto;
	  float: left;
}

a.active .overview-icon, a:hover .overview-icon {
	background-position: 0 -25px;
}
a.active .audit-icon, a:hover .audit-icon {
	background-position: -25px -25px;
}
a.active .risk-icon, a:hover .risk-icon {
	background-position: -50px -25px;
}
a.set-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: 0 -20px;
}
a.tick-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -20px -20px;
}
a.tick1-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -40px -20px;
}
a.book-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -60px -20px;
}
a.pdf-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -80px -20px;
}
a.edit-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -100px -20px;
}
a.set-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 5px;
	display: inline-block;
}
a.tick-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -20px 0;
	margin: 0 5px;
	display: inline-block;
}
a.tick1-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -40px 0;
	margin: 0 5px;
	display: inline-block;
}
a.book-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	margin: 0 5px;
	display: inline-block;
}
a.pdf-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -80px 0;
	margin: 0 5px;
	display: inline-block;
}
a.edit-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -100px 0;
	margin: 0 5px;
	display: inline-block;
}
.footer_left{ text-align:left;}
.footer_right{ text-align:right}

.page_heading {
  color: #534e4e;
  font-family: 'Open Sans',Arial,Helvetica;
  font-size: 16px;
  margin-top: 30px;
}

.profile_photo_block {
  float: left;
  margin-right: 20px;
  position: relative; padding: 15px 0 0 15px;
}

.profile_photo {
    background: none repeat scroll 0 0 #FEFCFD;
    border: 1px solid #d7d6d6;
    float: left;
}

.profile_form {
    margin-top: 15px;
	float: left;
}

.profile_form label {
    width: 100px;
}

.profile_form input{ border-radius:5px; border:1px solid #dad9d9;
-moz-box-shadow:    inset 0 0 10px #dad9d9;
   -webkit-box-shadow: inset 0 0 10px #dad9d9;
   box-shadow:         inset 0 0 10px #dad9d9; padding: 5px 15px;

}

.profile_form select{
	border-radius:5px; border:1px solid #dad9d9;
-moz-box-shadow:    inset 0 0 10px #dad9d9;
   -webkit-box-shadow: inset 0 0 10px #dad9d9;
   box-shadow:         inset 0 0 10px #dad9d9; padding: 5px 5px;
	}

.pad_bttm {
  padding: 0 0 15px;
}

.user_main {
  background-color: #FFFFFF;
  border: 1px solid #E7E7E8;
  padding: 0 0 15px;
  margin-bottom: 100px;
}

.orange_btn {
  background-color: #FE9537;
  border: medium none;
  border-radius: 5px;
  color: #454343;
  font-size: 14px;
  padding: 5px 20px;
}

.orange_btn:hover{ background-color:#ffb674; color:#fff;}

.black_btn {
  background-color: #626262;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
}




/* Audit Page*/
.audit-title {
	background-color: #fff;
}
.audit-content {
	border: 1px solid #E1DDDD;
	display: inline-block;
	margin-bottom: 90px;
	padding: 20px 0;
}
.audit-title h2 {
	background: none repeat scroll 0 0 #0085C8;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: normal;
	padding: 5px 15px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}
.audit-content h3 {
	color: #4A4848;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin: 5px 0 10px;
	padding: 0 0 0 20px;
}
#datetimepicker1 {
	width: 150px;
}
#datetimepicker1 input {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
}
.addissue a {
	background-color: #DEE1E1;
	color: #454343;
	float: right;
	font-size: 12px;
	margin: 0 45px 0 0;
	padding: 5px 10px 5px 40px;
	border-radius: 5px;
}
.addissue a:hover {
	background-color: #929292;
}
.plus-icon {
	background-image: url("/assets/outer/plus-icon.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}
.minus-icon {
	background-image: url("/assets/outer/minus-icon.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}
.audit-title label {
	color: #4A4848;
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
}
.audit-title select {
	border: 1px solid #dad9d9 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #fff url("/assets/outer/select_bg.jpg") no-repeat 100% 0px;
	width: 100%; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #434348;
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 0 5px #dad9d9;
}
.audit-title .audit-big-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 100%;
	height: 80px;
}
.audit-title .audit-normal-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 100%;
	height: 35px;
}
.border-divider {
	border-bottom: 8px solid #f5f2f2;
	margin: 15px 0;
}
.checklist_select_big select {
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	width: 100%;
	/*background-image: url("/assets/outer/select_icon.png");*/
	background-repeat: no-repeat;
	background-position: 92% center;
	text-indent: 0.01px;
	text-overflow: "";
}

.high_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-right: 1px solid #3d3d3d;
	border-radius: 5px 0 0 5px;
}
.medium_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-right: 1px solid #3d3d3d;
}
.low_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-radius: 0 5px 5px 0;
}
.high_btn.active, .medium_btn.active, .low_btn.active {
	background-color: #606060 !important;
	color: #fff !important;
}
.padding15px {
	padding: 0 15px 0 0;
}
.error_content {
	font-size: 175px;
	margin-top: 50px;
	text-align: center;
	color: #0085C8;
}
.error_sub_content {
	font-size: 30px;
	text-align: center;
	color: #000;
}
html, body {
	height: 100%;
	margin: 0px;
	padding: 0;
	position: relative;
}
#wrapper {
	 margin: 0px;
	 min-height: 100%!important;
}

.footer-login{
  left:0;
  width:100%;
  position:relative!important;
  bottom: 0;
}
.footer {
	height: 70px;
	background-color:#363535;
	color: #9f9d9d;
	padding: 25px 0;
	position: absolute;
	left: 0;
	width: 100%;
}
.footer_sp{
	left:0;
  width:100%;
  position:relative!important;
  bottom: 0;
}
.activity{
	margin: 0 0 50px 0;
}

.error_logo{ padding-top:15px; font-size:25px;}

.attach-icon{ background-image:url(/assets/outer/attach-icon.png); background-repeat:no-repeat;padding: 0 0 0 18px;}
.audit-title {
    color: #252525;
    font-size: 12px;
}

#Accordion1 a {
  color: #252525;
  font-size: 14px;
}
.blue_link{ font-size:12px !important; color:#0085c8 !important; text-decoration:underline !important;  }

.tab-content{padding-bottom: 30px; margin-bottom: 85px !important;display: inline-block;}
.pending_msg{ color: #E24141;font-size: 12px;padding: 0 30px 0 0;}
.complete_msg{ color: #606060;font-size: 12px;padding: 0 30px 0 0;}
.number_link a{
	background-color: #e0dedc;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding:1px 5px;font-size: 12px !important;}
.number_link a.active,.number_link a:hover{background-color: #F59035;}
.block_link a.active{ background-color:#dc7d01; color:#fff !important;}
.block_link a{ font-size:12px !important;padding: 4px 3px 4px 6px;background-color:#b6b5b5;line-height:30px;}

.black_btn {
  color: #FFFFFF !important;
}

.tab_main_title {
  color: #534E4E;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0;
  padding: 0 30px;
}

.grey_btn {
    background-color: #c3c1c1;
    border: medium none;
    border-radius: 5px;
    color: #302f2f !important;
    font-size: 14px !important;
    padding: 5px 20px;
}
.pending_active{  background: none repeat scroll 0 0 #D8D5D5 !important;}
.grey_btn:hover{ background-color:#dbd8d8;}


.audit-title h3 {
    color: #4A4848;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 10px;
    padding: 0 0 0 20px;
}

.paddingtop{ padding-right: 15px;
    padding-top: 15px;}





/* footer,notice alignment*/
.navbar{
	background:none!important;
	border:none;
	margin-bottom: 10px;
}
.black_btn:hover{ background-color:#929292; color:#454343;}
.main_nav li a{
	padding: 18px 20px !important;
	color:#000!important;
	text-decoration: none;
}
.main_nav li a:hover {
	color:#FFFFFF!important;
	}
.navbar-header a{
	text-decoration: none;
	color:#999999!important;
}

#footer-adjust {
  min-height: 335px;
}
.user-name {
    float: left;
    height: 22px;
    max-width: 150px;
    min-width: 75px;
    overflow: hidden;
    padding: 0 0 0 0;
}
.user_login > img {
    float: left;
    height: 38px;
    width: 38px;
    margin: 0 5px 0 0;
}
#login_drop {
    padding: 35px 0 0;
}
#login_drop img {
    padding: 5px 0 0;  float: right;
}



.profile_photo {
    background-image: url("/assets/outer/face-image.jpg");
   position:relative;
	width:102px; height:102px;
	border:1px solid #666;
    cursor: pointer;border-radius: 3px;
}


.profile_photo_sec {
    background-image: url("/assets/outer/upload-image.png");
   position:absolute;
	bottom:0; width:100px; height:100px; left:0; display:none;
	background-repeat:no-repeat; background-position:bottom center;
}
.profile_photo:hover .profile_photo_sec{ display:block;}

.profile_img {width: 100px;height: 100px;}


.profile_form input[type="submit"] {
    box-shadow: none;
}

.error_message {
color: #932419;
text-align: left;
}

.error_inputfield input{ border:1px solid  #932419!important;}
.add-btn{
	 margin: 0 0 20px 122px;
	float: left;
}
.add-btn-padding{
	padding: 6px 0;
	display: block;
}

.error_input { border:1px solid  #932419!important;}

/*Import Section*/
@import url("fullcalendar.css");	/* Calendars Styles */

.audit_search input[type="text"] {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  float: left;
  height: 30px;
  margin: 5px 0 0 12px;
  padding: 0;
  width: 233px;box-shadow: none;
}
.audit_search input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  color: rgba(0, 0, 0, 0);
  height: 38px;
  width: 38px;
}

.audit_search{ background-image: url("/assets/outer/search_bg.png"); width:287px; height: 38px;}

.audit_search {
    margin: 4px 0 0; position: relative; z-index: 99999;
}
.plusround-icon {
    background-image: url("/assets/outer/add-btn.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
     height: 19px;
    margin-top: 8px;
    padding: 10px;

    width: 19px;
    display: inline-block;
}

a.plus-background{
	 background-color: rgba(0, 0, 0, 0) !important;
	    float: left;
    margin:8px 0 0;
}

.minusround-icon {
    background-image: url("/assets/outer/minus-btn.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 19px;
    margin-top: 8px;
    padding: 10px;
    width: 19px;
}

.comaduit_resp .col-sm-10{width: 83.3333% !important;}
.comaduit_resp input {
    margin-bottom: 15px;
}
#skip_reminder {
    margin-top: 12px;
}
.text-align-right{ text-align: right;}

.datepicker {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
}

.upload-icon {
  background-image: url("/assets/outer/upload-icon.png");
  background-position: 15px 6px;
  background-repeat: no-repeat;
}

.download-file-icon {
  background-image: url("/assets/outer/download-icon-file.png");
  background-position: 15px 6px;
  background-repeat: no-repeat;
}


/*DashBoard page start*/
.dashboard_main{ padding-bottom:100px;}
.dash_sub_title{ background-color:#8d9094; padding: 5px; color:#fff; box-shadow: 0 0 5px #d5d6d6;  min-height:30px;     }
.dashboard-title{ color:#5b5a5a; font-size:20px;font-family: 'Open Sans'; font-weight:600; padding:15px 20px;}
.dashboard_menu{ border:1px solid #dfdfdf; padding:20px 0 0; background-color:#fff; margin-bottom:15px; height:135px;}
.dash_menu_a{margin-top: 35px;}
.dashboard_menu li{float: left; list-style:none;}
.dashboard_menu li a {
    display: inline-block;
    padding: 21px 60px;color:#fff;  /*border-right: 1px solid #fff;*/text-align: center;
}
.dashboard_menu > ul {
  padding: 0 0 0 20px;
}
.dash_menu_a a {color: #fff;padding: 40px 55px; border-right:1px solid #fff;}
.dashboard_menu .lightgreen{ background-color:#60db47;}
.dashboard_menu .drakgreen{ background-color:#42bc29; }
.dashboard_menu .grey{ background-color:#d2d2d1;}
.db_aduitdetails {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 5px #d5d6d6;
  padding:10px 0 0;margin-bottom:15px;color:#8c8a8a;
}
.db_audit_com_txt{box-shadow: 0 0 5px #d5d6d6;}
#auditcompliancerating ,#ISMSAuditScore{ box-shadow: 0 0 5px #d5d6d6; margin-bottom:15px;}
.db_todolist{margin-bottom:15px; background-color:#fff;min-height: 150px; box-shadow: 0 0 5px #d5d6d6;}
.db_todolist_insec{color:#0085c8; font-size:13px;}
.time-icon {
  background-image: url("/assets/outer/time-icon.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  color: #aaa9a9;
  font-size: 11px;
  font-style: italic;
  height: 13px;
  padding: 3px 15px;
  width: 12px;
}
.completedlink{ color:#fff; background-color:#85de73; border-radius:3px; border:1px solid #74d162; display: inline-block;
  padding: 0 5px;
  text-align: center;
  width: 90px;}
.pendinglink {
  background-color: #fc3535;
  border: 1px solid #fc3535;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  width: 90px;
}
.db_todolist_info{ padding:10px 0 10px 10px; border-bottom:1px solid #e5e5e5;}




.checkbox_wrapper{
    background:url("/assets/outer/unchecked.jpg") no-repeat;
    height: 20px;
    width: 20px;
    display:inline-block;float:left;
   }
.db_inform{ float:left;padding: 0 25px 0 18px; max-width:240px; }
.checkbox_wrapper.active{
    background:url("/assets/outer/checked.jpg") no-repeat;
}
.db_aduitdetails label{ color:#181818;}
.db_audit_com{ margin-bottom:15px;}
.db_audit_com_icon{  background: url("/assets/outer/db_audit_com_icon.png") no-repeat scroll 20px 20px #f19a01;
    height: 30px;
    padding: 35px;
    width: 30px;}
.download-icon{  background: url("/assets/outer/download-icon.png") no-repeat scroll 5px 6px;
    height: 16px;
    width: 17px;}
	.download-aff-icon{  background: url("/assets/outer/download-aff-icon.png") no-repeat scroll 5px 6px;
    height: 16px;
    width: 17px;}
.db_audit_com_txt{ background-color:#fff; color:#6e6e6e; font-size:18px; text-align:center;padding: 21px 0;}
.db_audit_com_txt b{ color:#0085c8; font-size:20px;}
.aduit_status{ height:275px;box-shadow: 0 0 5px #d5d6d6;}
.db_download_btn {
  background: none repeat scroll 0 0 #f3f4f5;
  border-top: 1px solid #dfdfdf;
  padding: 15px 0;
  text-align: center;
}
.db_download_btn a{ background-color:#f19a01; border:1px solid #d58b09; padding:5px 5px 5px 28px; color:#fff; font-size:13px; border-radius:3px;margin: 0 10px;}
.db_download_btn a:hover{ background-color:#8D9094;  border:1px solid #8D9094;}
.db-plan-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:0 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-do-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-35px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-check-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-70px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-act-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-104px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}
.db-publish-icon{ background-image:url("/assets/outer/dashboard_menu-icon.png"); background-repeat:no-repeat; background-position:-140px 0; width:35px; height:38px;  margin: 0 auto;text-align: center;}


#arrow {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
    /*border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:10;
}
#arrow:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}


#arrow1 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
   /* border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:8;
}
#arrow1:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow1:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}



#arrow2 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
   /* border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:7;
}
#arrow2:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow2:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}



#arrow3 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
    /*border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:6;
}
#arrow3:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow3:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}

#arrow4 {
	width: 138px;
	height: 100px;
	background-color: #D2D2D1;
    /*border: 1px solid #fff;*/
	position: relative;
    float:left;
    z-index:5;
}
#arrow4:after {
	content: '';
	position: absolute;
    top: 0px;
	left: 138px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #D2D2D1;
}
#arrow4:before {
	content: '';
	position: absolute;
    top: 0px;
	left: 139px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-left: 30px solid #fff;
}
/*DashBoard page End*/



.a_lightgreen{  background-color: #60DB47!important;}
.a_lightgreen:after{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #60DB47!important;}


.a_drakgreen{  background-color: #42BC29!important;}
.a_drakgreen:after{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #42BC29!important;}


.a_grey{  background-color: #D2D2D1!important;}
.a_grey:after{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #D2D2D1!important;}






/*dashboard main start*/
.db_setting{
  cursor: pointer;
  float: right;
  padding: 0 0 40px;
  position: absolute;
  right: 30px;
  z-index: 100;
}

/*.db_setting_down_icon {
  background-image: url("/assets/outer/db_settingdown-icon.png");
  background-position: 0 23px;
  background-repeat: no-repeat;
  margin: 0 0 0 30px;
  padding: 10px 10px 20px;

}*/

.db_setting_dropdown {
  background: none repeat scroll 0 0 #e8e8e8;
  padding: 0 15px;
  position: absolute;
  right: -20px;
  top: 25px;
  z-index: 60000; display:none;
}
.db_setting_dropdown a{ color:#8D9094; text-align:left;}
.db_setting_dropdown a:hover{ color:#fff; display:none;}
.db_setting_main{ margin-bottom:15px;}
.db_setting_dropdown li{ list-style:none; }
.db_setting_dropdown ul{ padding:0;}
.db_chart_content{box-shadow: 0 0 5px #d5d6d6; }
.db_chart_content img {
    width: 100%;
}

.add_widget_btn{ background-color:#fe9537; color:#fff; border:1px solid #e77f23; border-radius:3px; font-size: 14px;
    padding: 3px 10px; font-weight:normal;}
.add_widget_btn:hover{ color:#8D9094;}

.select_outer{
	background: url("/assets/outer/select_bg.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: 1px solid #dad9d9 !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #dad9d9 inset;
    color: #434348;
    overflow: hidden;
    padding: 0 3px;
    width: 140px;
	}
.select_outer select {
  background-color: transparent;
    border: medium none;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    width: 152px;

}
.modal-padding {
  padding: 0 20px 0 0;
}
.modal-title {
  background-color: #0085c8;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0 5px 10px; border-radius: 4px 4px 0 0;
}
.model-con {
    min-height: 250px;
    padding: 15px;
}
.modal-content label{ font-size:14px; font-weight:normal;}
.modal-normal-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 300px;
	height: 35px; font-size:14px; font-weight:normal;
}
.modal-dialog_addwidget{ width:350px !important;}
.border_line {
    background: none repeat scroll 0 0 #E7E7E8;
    height: 1px;
    margin: 5px 0 15px;
}
.company-name {
  padding-top: 9px;
}
.ask-auditee-btn {
  margin: 0 45px 0 0;
}

.auditees-users{
  border: 1px solid #dad9d9 !important;  /*Removes border*/
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: url("/assets/outer/select_bg.jpg") no-repeat scroll 100% 0 #fff;
  width: 100%; /*Width of select dropdown to give space for arrow image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
  color: #434348;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #dad9d9;
  overflow:hidden;
}
.auditees-users select {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 32px;
    padding: 5px;
    width: 115%;

}

/*for test*/

.file-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url("/assets/outer/sub-nav-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
}
.listing-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url("/assets/outer/risk-menu-icons.png");
  background-repeat: no-repeat;
  background-position:-39px -1px;
  margin: 0 auto;
}
.lmitigate-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url("/assets/outer/risk-menu-icons.png");
  background-repeat: no-repeat;
  background-position: -78px 0;
  margin: 0 auto;
   padding: 0 20px;
}
.review-icon {
  text-align: center;
  width: 30px;
  height: 26px;
  background-image: url("/assets/outer/risk-menu-icons.png");
  background-repeat: no-repeat;
  background-position:-123px -2px;
  margin: 0 auto;
}
.risk-title{
  font-size:24px;
  color:#434242;
  float:left;
  padding:20px 10px;
  font-family: 'Open Sans',sans-serif;
}

.k-filter-help-text, .k-filter-menu .k-widget {
  margin: 0.3em 0;
}
/*--------------Submit Risk --------------*/
.sub-wrap{
  width:100%;
  background:#FFFFFF;
  min-height:100px;
  box-shadow:0 0 5px #C0BFBF;
  margin:0 0 30px 0;
}
.sub-titile{
  background-color:#0085c8;
  padding:10px 20px;
  color:#ffffff;
  font-size:14px;
  margin:0 0 0px 0;
  font-family: 'Open Sans',sans-serif;
}
.sub-wrap-bg{
  padding:30px 30px;
}
.sub-wrap .form-horizontal .control-label{
  text-align:left;
}
.risk-wrap{
  margin:0px;
}
.risk-select {
  border: 1px solid #dad9d9 !important;  /*Removes border*/
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: #fff url("/assets/outer/select_bg.jpg") no-repeat 100% 0px;
  width: 100%; /*Width of select dropdown to give space for arrow image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
  color: #434348;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #dad9d9;
  overflow:hidden;
}
.risk-wrap label {
  color: #4A4848;
  font-size: 13px;
  font-weight: normal;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}
.risk-select select{
  width:115%;
  padding: 5px;
  background: none repeat scroll 0 0 transparent;
  border:none;
  height:32px;
}
.risk-wrap .risk-normal-input {
  border-radius: 5px;
  border: 1px solid #dad9d9;
  -moz-box-shadow: inset 0 0 5px #dad9d9;
  -webkit-box-shadow: inset 0 0 5px #dad9d9;
  box-shadow: inset 0 0 5px #dad9d9;
  padding: 5px 5px;
  width: 100%;
  height: 35px;
}
.likelihood{
  border:1px solid #dddfe1;
  border-radius:2px;
  background:#f3f5f7;
  margin:0 0 20px 0;
  padding:5px 0;
}
.risk-big-input {
  border-radius: 5px;
  border: 1px solid #dad9d9;
  -moz-box-shadow: inset 0 0 5px #dad9d9;
  -webkit-box-shadow: inset 0 0 5px #dad9d9;
  box-shadow: inset 0 0 5px #dad9d9;
  padding: 5px 5px;
  width: 100%;
  height: 80px;
}
.risk-save-btn {
  background:#fe9537;
  text-shadow: 1px 1px 1px #fc4e02;
  padding:5px 10px;
  color:#ffffff;
  text-decoration:none;
  margin:20px 0 20px 10px;
  border-radius:4px;
  min-width:50px;
  text-align:center;
}
.btn-wrap{
  margin-right:0px;
  float:right;
}
/*--------mitigation box-----------------*/
.mitigation-box-wrap{
  margin:20px 0;
}
.mitigate-box{
  background:#ffffff;
  box-shadow:0px 0 5px #9d9d9d;


}
.mitigate-inner{
  vertical-align:middle;
  padding:17px 0;
  height:60px;
  width:100%;
}
.mitigation-sub{
  background:#ffffff;
  box-shadow:0px 0 5px #9d9d9d;
  height: 60px;
    padding: 17px 0;
}
.mitigation-sub-inner{
  vertical-align:middle;
  width:100%;
  height:60px;
  padding:17px 0;
}
.mitigation-status{
  background:#ffffff;
  height:60px;
  box-shadow:0px 0 5px #9d9d9d;
  vertical-align:middle;
  width:100%;
  padding:17px 0;
}
.mitigation-recomm{
  background:#ffffff;
  box-shadow:0px 0 5px #9d9d9d;
  vertical-align:middle;
  /*display:table-cell;*/
  width:100%;
  margin:10px 0 10px 0;
}
.risk-assetes{
  margin:0px 0 10px 0;
}
.mitigation-percive{
  background:#FFF!important;
  box-shadow:0px 0 5px #949494;
  width:100%;
  margin:10px 0;
  display:block;
}
.mit-plan-effort{
  margin:20px 0 0 0;
}
.mit-reccom-title{
  background:#0085c8;
  padding:10px 10px 10px 20px;
  color:#FFF;
  font-weight:700;
}
.mitigation-recomm p {
  padding:20px;
  font-size:13px;
}
.red-box{
  background:#f71919;
  min-height:60px;
  box-shadow:0px 0 5px #949494;
  float:left;
  width:100%;
  vertical-align:middle;
  display:table-cell;
  text-align:center;
  margin-right:20px;
}
.grey-box{
  background:#A4A4A4;
  min-height:60px;
  box-shadow:0px 0 5px #949494;
  float:left;
  width:100%;
  vertical-align:middle;
  display:table-cell;
  text-align:center;
  margin-right:20px;
}
.yellow-box{
  background:#F3F781;
  min-height:60px;
  box-shadow:0px 0 5px #949494;
  float:left;
  width:100%;
  vertical-align:middle;
  display:table-cell;
  text-align:center;
  margin-right:20px;
}
.box-id{
  margin-left:100px;
}
.risk-box-text{
  font-size:15px;
  padding:0 10px 0 5px;
  display:inline-block;
}
.risk-box-lable{
  font-size:16px;
  font-weight:bold;
  padding:0 0 0 20px;
  float:left;
  color:#545454;
  display:inline-block;
}
.red-box .number{
  font-size:28px;
  color:#000000;
  font-weight:bold;
  line-height:36px;
}
.grey-box .number{
  font-size:28px;
  color:#000000;
  font-weight:bold;
  line-height:36px;
}
.yellow-box .number{
  font-size:28px;
  color:#000000;
  font-weight:bold;
  line-height:36px;
}

.red-box .text{
  font-size:14px;
  color:#000000;
}
.grey-box .text{
  font-size:14px;
  color:#000000;
}
.yellow-box.text{
  font-size:14px;
  color:#000000;
}
.table-bg{
  background:#FFF;
  border:1px solid #ddd;
}
.risk-able-th{
background:#0085c8 !important;
color:#FFF;
}
.risk-wrap .form-horizontal .control-label{
  text-align:left;
}
.mit-reccom-title-sp{
  background:#0085c8;
  padding:10px 10px 10px 20px;
  color:#FFF;
  font-weight:700;
  margin:0 0 0px 0px;
}
.btn-group{
  margin: 0 5px 30px 0px;
  float:none;
  clear:right;
}
.btn-group a{
  margin:0 10px 0 0;
}
.mgt-text{
  font-size:13px;
  padding:7px 0 0 0;
}
.mgt-label{
  font-weight:bold!important;
  color:#4a4848;
  padding:0px;
}
.text-area{

margin-bottom:20px !important;

}
.table-bg label{
  font-weight:600;
}
.table-bg label, span{
  font-size:13px;
  color:#4a4848;
}
.search-box{
  margin:0 0px 0 0;
  padding:10px;
  background:#ededed;
  border:1px solid #dadbdc;
  border-bottom:none;
  min-height:50px;
}
.search-box input{
  font-size:14px;
  color:#7A7878;
  font-weight:normal;
  margin:0 20px 0 0;
  padding:5px;
  border-radius:4px;
  border:1px solid #ddd;
  position:relative;
  min-width:250px;
}
#frmSearch{
  position:relative;
  width:250px;
  float:right;
   padding: 5px 0 0;
}
.search-box button{
  position:absolute;
   background: none repeat scroll 0 0 #fff;
    border: medium none;
    min-height: 17px;
    padding: 5px;
    position: absolute;
    right: 11px;
    top: 6px;
}
.search-box .btn-search{
  background:url("/assets/outer/search-icons.png") no-repeat;
  width:20px;
  height:20px;
  display:block;
  background-color:transparent;
}
.page-wrap{
  min-height:100%;
  position:relative;
  margin-bottom:0px;
}


.box-wrapper{
  margin:0 0 40px 0;
}
.row-sp{
  margin:0 0 20px 0;
}
.table-bg td{
  border-right:1px solid #c9c9c9;
  padding:10px 20px!important;
}
.orange-method{
  color:#d47d01;
  font-style:italic;
}
.base-score-matrix{
  background:#0085c8;
  padding:10px 15px;
  color:#fefefe;
  text-shadow: 1px 0px 0 #464646;
  font-size:14px;
  position:relative;
}
.matrix-padding{
  padding:0px;
}
.exploitability{
  color:#0275af;
  padding:15px 0 0px 0px;
  margin:0 15px;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px #FFF;
  font-size:14px;
}
.emp-hr{
  border-bottom:1px solid #cbcccd;
  padding:0px;
  margin:10px 20px;
  display:block;
}
.up-triangle {
   width: 0;
   height: 0;
   border-bottom: 20px solid #0085c8;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   position:absolute;
   left:50px;
   top:-14px;
}
.gr-btn{
  padding:0 -10px 0 0;
}
.download-icons{
  background:url("/assets/outer/download-icons.png") no-repeat;
  width:25px;
  height:22px;
  display:block;
  background-color:transparent;
  display:inline-block;
  float:left;
  margin:0 10px 0 0;

}
a.import-btn{
  background:#fe9537;
  border:1px solid #dc771d;
  padding:8px 8px;
  border-radius:6px;
  width:150px;
  float:right;
  margin:15px 17px 10px 0;
  color:#ffffff;
  text-shadow: 1px 0px 0px #ac5405;
  font-size:14px;
  font-weight:bold;
  cursor:pointer;
}
.import-btn:hover{
  color:#FFF;
}
.show-text{
  padding:10px 15px;
  float:left;
  color:#066666;
  text-shadow: 1px 0px 0px #ffffff;
}
.inputs .form fieldset ol > li {
    display: block!important;
    min-height: 50px!important;
    padding: 10px;
}
#risk_review_level_value_input label{
	margin: 0 0 0 0px!important;
	width:30%;
}
#risk_review_level_days_input label{
	margin: 0 0 0 0px!important;
	width:30%;
}
.method-padding{
	margin:0 15px 20px;
}
.method-padding .risk-select{
	margin:0 0 20px 0;
}
.method-padding  .likelihood .form-group label{
	margin:20px 0 5px 0;
}

.likelihood .form-group label{
  font-weight: 400!important;
  font-size: 14px;
  color:#333333!important;
}


.form-group {
    margin-bottom: 15px;
}

.orange-method{
	color:#d47d01;
	font-style:italic;
}
.previleges .btn-group{
	margin: 0px;
	float: none;
}
.multiselect-container{
	max-width: 300px;
	height: 200px;
	overflow: scroll;
	overflow-x:hidden;
}
.previleges{
	width: 27%;
}
.previleges input{
	float: right;
}
.previleges select{
	padding: 7px;
}

.login-wrap{

    float: right;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 20px 15px 11px;
    position: absolute;
    right: 0;
    z-index: 100;
	 transition: all 270ms ease-out 0s;
}
.login-wrap a{
	padding:0 0 0 40px;
	 color: #434342;
	 font-size:14px;
	 transition: all 270ms ease-out 0s;
}
.login-wrap a:hover{
	color:#0085c8 ;
	text-decoration:underline;
	transition: all 270ms ease-out 0s;
}
.login-box{
	margin:50px auto;
	text-align:center;
	border:1px solid #ddd;
	max-width:50%;
	border-radius:6px;
	background:#FFF;
	margin-bottom:125px;

}
.login-box-con{
	margin:0 0 30px  auto;
	text-align:center;
	padding:50px 50px 1px;

}
.login-box .form-horizontal .control-label{
	text-align:left;
	font-weight:600;

}
.login-box .form-horizontal input{
	font-style:italic;
	font-size:13px;
}
.login-title{
	background: none repeat scroll 0 0 #0085c8;
    color: #fff;
    font-size: 20px;
    padding: 13px;
    text-align: left;
	border-radius:6px 6px 0px 0px;
}
.logn-btn{
	float:right;
	margin-bottom:20px;
}
.login-box .form-horizontal input[type="file"]{

	paddin:10px 0;
}
.forgot-pwd{
	margin:50px 0 0 0;
	border-top:1px solid #ddd;
}
.forgot-pwd a{
	text-align:left;
	font-size:13px;
	padding: 20px 0 0 0px;
	display:block;
}
.login-box .radio label, .checkbox label{
	text-align:left;
}

#audit_charts li {
    list-style: none outside none;
}
li.db_setting_main{
	height:425px;
	width:552px;
	display:inline-block;
	float:left;
	margin-bottom:25px;

	}

.roll-audit{
  padding: 0px 0 0 0px;
  margin: 0px;
  vertical-align: top;
  font-weight: bold;
  font-size: 11px;

}
.upload-btn{
  background: transparent;
  margin: 20px 0 0 0;
}
.upload-btn a{
  float: right;
}
.multiselect-container{
  height: 323px;
  overflow: scroll;
  overflow-x:hidden;
}

.sub-wrap-bg .form-horizontal .control-label{
	text-align:left;
}
.form-horizontal .control-label{
	text-align: left;
}
.sub-wrap-bg .btn-group{
	float:right;
	margin: 0 5px 15px 0;
}
.multiselect{
	width:240px!important;
	text-align:right!important;
	overflow: hidden;
	word-wrap:break-word;
}
.multiselect-container  label{
		padding: 5px!important ;
		float: left;
		line-height: 20px;
	}
	.multiselect-container li.active{

		background: #FFF;
	}
	.multiselect-container  .active label{
		color:#000;
		margin:10px 0 0 0;

	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
		color:#000;
		background:#FFF transparent!important;
		background-repeat: none;
	}

	.multiselect-container input{
		padding: 0 5px 0 20px;
		margin:0 10px 0 0;
	}
	.multiselect-container > li:hover{background:#FFF; }
.open > .dropdown-menu {
    display: block;
    min-width: 452px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background:#FFF;

}
.login-box .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -17px;
}
.login-box .radio label, .checkbox label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 0px!important
    ;
}
.input-width{width: 248px; display: inline-block;}

.risk-select  option{
  max-width:100%;
  padding: 0 3px;
  display: block;
}
.control-select{
   padding: 0 10px 0 4px;
}

/*-----------------------Subscription -----------------------*/
.subscription-wrap{
	margin:0px;
	display:block;
	float:left;
}
.plan {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
    margin: 20px 0 50px 0;
    min-height: 100px;
    padding-bottom: 25px;
    text-align: center;
    transition: all 270ms ease-out 0s;
	border:1px solid #dddddd;
}
.plan > .head {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 -4px 0 0 #0085c8 inset;
    padding: 12px 16px;
}
.plan > .head > h2 {
    font-size: 28px;
    margin-bottom: 6px;
    margin-top: 0;
}
.plan:hover {
    color: #0085c8 ;
}
.plan > .price > h3 {
    font-size:35px;
    line-height: 1;
    vertical-align: top;
}
.plan > .head > h2 > .fa-star {
    font-size: 18px;
    transition: color 170ms ease-out 0s;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.plan > ul {
    list-style-type: none;
    margin-top: 2px;
    padding: 20px 0;
}
.plan > ul li {
    border-bottom: 1px solid rgba(213, 213, 213, 0.55);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
    padding-bottom: 16px;
}
b, strong {
    font-weight: bold;
}
.plan > .price {
    margin: 0 auto 30px;
    width: 80%;
}
.risk-rem{
   display: inline-block;
    float: left;
    margin: 0 0 20px;
    padding: 0 0 0 20px!important;
}
.risl-blue-link{
  float: left;
  display: inline-block;;
}

#user_teams_input{
  display: block !important;
  clear: both!important;
}
fieldset.inputs ol li{
  display: block!important;
  width: 100%!important;
  clear:both!important;
}
form fieldset ol > li {
    display: block;
    padding: 10px;
  }
.btn-group {
    float:left!important;
    margin: 0 5px 30px 0;
}
#user_role_id_input{
  clear: both!important;
}
button .multiselect{

    text-align: right!important;

}
.save-file{
  float: right!important;
}
.pop-up-gray{
  max-width:350px;
  margin: 0 20px;
  float: right;
}
.plus-icon-sp{
    display: inline-block;
    font-size: 13px;
    padding: 5px 40px;
}
.src-brn{
  position: absolute;
  right: -247px;
  top: -36px;
  min-width: 35px!important;
}
.org-sp{
 margin:0 63px;
}
.domain-width{
  max-width: 250px;
  display: inline-block;
  float: left;
}

button.close {
    background: url("/assets/outer/close-icon.png") no-repeat scroll 0 8px transparent;
    border: 0 none;
    cursor: pointer;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 4%;
    width: 22px;
}
.src-space{
  padding:10px 0 0 10px;
  margin: 0px;
}
.scr-padding{
  margin: 0 20px;
}
.reset-pwd{
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #ddd;
}
.reset-title{
  background:#0085c8;
  padding: 15px;
  font-size: 18px;
  color:#fff;
  text-align:left;
  margin: 0px 0 20px 0;

}
.pwd-text{
  display: inline-block;
  width:75%;
  margin: 0 0 20px 0;
}
.pwd-text label{
  text-align: left;
  display: block;
}
.pwd-text input{
  width: 100%;
}
.up-pwd{
  margin: 0 0 20px 0;
}
.card-wrap{
	max-width:460px;
	padding:0px 0 ;
	border:1px solid #d6d5d5;
	margin:70px auto;
	border-radius:6px;
	margin-bottom:150px;
	background:#FFF;

}
.card-wrap h3{
	padding:0px 0 0 20px;
	color:#01669a;
}
.card-con{
	margin:20px;
	max-width:400px;
}
.card-con .form-horizontal .control-label {
    text-align:left;
	color:#373636;
	font-weight:600;
}
.card-con .form-horizontal input {

	min-height:35px
}
.card-num{
	max-width:210px;
	display:block;
}
.card-type{
	max-width:210px;
	display:inline-block;
	float:left;
	margin:0 0 0 0px;
}
.card-cvv{
	max-width:150px;
	display:inline-block;
	float:left;
	margin:0 0 0 20px;

}
.card-cvv label{
	font-style:italic;
	font-size:12px;
}
.card-exp{
	max-width:150px;
	display:inline-block;
	float:left;
	margin:0 0 0 0px;
}
.card-year{
	max-width:150px;
	display:inline-block;
	float:left;
	margin:0 0 0 20px;
}
.dash-col{
	width:100%;
}
.dash-col li{
	margin:0 20px 0 0;
	display:inline-block;
	float:lleft;
	max-width:500px;
}


.dash_sub_title  .open > .dropdown-menu {
    display: block;
    width: 50px;
}
.dash_sub_title .dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: -39px;
    list-style: none outside none;
    margin: 28px 0 0;
    min-width: 90px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
 .dash_sub_title .btn-default{
	 padding:2px;
	 background:transparent;
	 position: absolute;
	 right: -40px;
	 border:none;
 }
 .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-color: transparent;
    border-color: #ADADAD;
    color: #333333;
}
.title-dash{
	display:inline-block;
	padding:10px;
	color:#FFF;
}

#company_timezone {
    width: 50%;
}
#company_timezone > option {
    width: 286px;
}
.cancel-btn1{
  float: right;
  margin: 5px 10px 0 0;
}
.tab-wrap{
  margin: 55px 0;
}
.set-wrap{
  margin: 15px 0;
}
.field_with_errors{
	display: block;
}
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
}
.audit_search .btn:hover, .btn:focus{
	border-radius: 0 20px 20px 0px;
}
.audit_search.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	border-radius:20px 20px 20px 20px;

}
#privilege_modular {
    float: left;
    margin: 0 10px 20px 0;
}
.previleges {
    width: 38%;
}
.grid-padding{margin: 40px 0;}

.previleges .btn-group {
    float: none!important;
    margin: 0;

}
.previleges .btn-default:hover, .btn:focus{
	border-radius: 4px;

}
.risk-select select option{
	width:100%;
	max-width: 350px!important;
	word-wrap:break-word;
}
.control-dd {
    overflow: hidden;
    max-width:100%;
}
.control-dd select, option{
	width:103%;
}
.main_nav a:hover {
    background-color: #0085c8;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color:#0085c8!important;
    color: #fff;
}
.sub_menu  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color:transparent!important;
    color: #fff;
}
.nav > li > a:hover, .nav > li > a:focus{color:#fff!important; background: #0085c8;}
.inputs #artifact_compliance_library_id_input label{max-width: 100px;}
.inputs #artifact_name_input label{max-width: 100px;}
.inputs #artifact_name_input input{max-width: 300px;}

#artifact_compliance_library_id{width:300px!important;}
.inputs #artifact_compliance_library_id option{max-width: 300px; overflow: hidden;
}
#plan_amount{
	width:10%;
}
.actions{padding: 0 0 0 10px;}
#strip{margin-bottom:30px;}
.gridcell input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 4px -8px 0;
}
.checklist_select_big{
	padding: 0px;
	margin: 0px;
}
.checklist_select_big .k-widget{width:100%!important;}

.navbar-inverse .navbar-brand{
	padding: 5px;
	color:#000;
}
button.close {
    top:0px;
}
.alert-success button.close {
    top:126px;
}
.alert-info button.close {
    top:126px;
}
.alert-danger button.close {
    top:126px;
}
.my_footer{
	color: #9f9d9d;
	padding: 0px 0;
}
.risk-select select option:hover {
    max-width:100% !important;
    width: 100%;
    word-wrap: break-word;
}
.control-dd{
	width:100%;
	max-width: 550px;
}
.chk-padding{
	padding: 0 0 0 10px;
	line-height: 25px;
}
.chk-box-rl{
	padding: 0 0 0 140px;
}


@media screen and ( min-height: 600px ) and ( max-height: 767px ){
    #main_content_wrapper{
    	min-height: 380px;
    }
}
@media screen and ( min-height: 767px ) and ( max-height: 900px ){
    #main_content_wrapper{
    	min-height: 680px;
    }
}
@media screen and ( min-height: 900px ) and ( max-height: 1200px ){
    #main_content_wrapper{
    	min-height: 775px;
    }
}
@media screen and ( min-height: 1200px ){
    #main_content_wrapper{
    	min-height: 945px;
    }

}
#company_name_input #company_name{width:20%!important;}
#company_primary_email_input #company_primary_email{width:20%!important;}
#company_secondary_email_input #company_secondary_email{ width:20%!important;}
#company_address1_input #company_address1{ width:20%!important;}
#company_address2_input #company_address2{width:20%!important; }
#company_timezone{width:20%!important; }
#company_country_input #company_country_id{width:20%!important; }
#company_contact_no_input #company_contact_no{width:20%!important;}
#client_name,#client_address1,#client_address2,#client_contact_no, #client_email,
#location_name,#department_name, #team_name,#team_section_id, #role_title,
#user_full_name, #user_email, #user_user_name, #credit_card_first_name,  #credit_card_last_name
,#credit_card_number, #credit_card_verification_value,#operational_area_weightage,
#operational_area_compliance_library_id, #reminder_value,#reminder_mail_count,#cpp_measure_name
,#cpp_measure_description,#project_name,#project_order,#section_name,#modular_model_name,
#modular_action_name,#language_name,#language_code,#subscription_name,#subscription_description,
#subscription_amount,#subscription_valid_log,#subscription_user_count,#subscription_file_size,#subscription_section_ids ,
#compliance_name,#priority_name,#question_type_name,#topic_name,#compliance_library_name,#planning_strategy_name,
#review_name, #next_step_name,#risk_approval_status_name,#implementation_status_name,#close_reason_name  {width:20%!important;}
.actions{margin: 20px 0 20px 20px; padding-bottom: 20px;}
#add_files, #add_url, .button.close {
top:2px!important;
}
.multiselect-container li{background: transparent;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	background: #FFF!important;
	border-radius: 4px;
}
.activity{background: #FFF; padding: 10px  20px;margin: 20px 0; border: 1px solid #DDD;}
#user_full_name{width: 254px!important;}
#user_user_name,#user_profile_attributes_phone_no,#user_profile_attributes_address1, #user_profile_attributes_address2
,#user_profile_attributes_city,#user_profile_attributes_state{width: 254px!important;}
.btn-save-black{margin: 0 20px;}
#new_company #company_timezone{width:305px!important;}
.multiselect-container>li>a>label>input[type=checkbox]{
	margin-bottom: 5px;
	margin: 4px 12px 0 0;
	vertical-align: top;
}
.open > .dropdown-menu{padding: 10px;}
 #user_email.new-input{width:100%!important;}
 #test-check input{margin: 0 10px 0 0;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:transparent!important;
    background-image:none!important;
    background-repeat:none;
}
.grid-sp  #example{
	margin: 75px  0;
	display: block;
}

/* Asset Module Styles Start here */
.add-icons{
	background:url("/assets/outer/add-icons.png") no-repeat;
	width:25px;
	height:22px;
	display:block;
	background-color:transparent;
	display:inline-block;
	float:left;
	margin:0 10px 0 0;

}
