	/* CSS Document */
.fleft {
	float: left;
}
.fright {
	float: right;
}
.header {
	height: 60px;
	border-bottom: 5px solid #0085c8;
	background: none repeat scroll 0 0 #F7F7F7;
}
.main_nav a.active {
	background-color: #0085C8;
	color: #FFFFFF !important;
}
.sub_menu {
	background-color: #181818;
	height: 57px;
}
.subbar-nav li {
	float: left;
	/*width: 107px;*/
    text-align: center;
}
.subbar-nav li a {
	color: #fff !important;
	padding: 3px 32px;
	border: none !important;
	border-bottom:5px solid #181818;
	 height:57px;
	 text-decoration: none;
}
.subbar-nav li a.active,.subbar-nav li a:hover {
	border-bottom: 5px solid #ffa200 !important; background-color:transparent !important;
}
.content {
	min-height: 400px;
}
.footer {
	height: 70px;
	background-color: #363535;
	color: #9f9d9d;
	padding: 25px 0;
	left: 0;
	right: 0;
	bottom: 0!important;
  position:inherit;

}
.user_login {
	color: #717171;
	float: right;
	font-family: 'Open Sans';
	font-size: 13px;
	padding: 20px 15px 11px;
	background-color: #dddee0;
	position: relative;
	z-index: 999999;
}
.account_header_dropdown {
	background: none repeat scroll 0 0 #fff;
	border-top: 0 none;
	box-shadow: 0 1px 1px #838383;
	color: #181818;
	display: none;
	margin-left: -15px;
	margin-top: 8px;
	position: absolute;
	width: 100%;
	z-index: 60000;
	top: 47px;
}
.account_header_dropdown li a:hover{ color:#0085C8;}
.account_header_dropdown > ul {
	padding: 5px 0 0 15px;
}
.account_header_dropdown li {
	list-style: none;
}
.account_header_dropdown li a {
	color: #181818;
	text-decoration: none;
}
.list-tab li a {
	margin: 0 10px 0 0;
	padding: 5px 30px;
}
.list-tab li.active a, .list-tab li a:hover, .list-tab li a:focus {
	background: none repeat scroll 0 0 #6C6C6E;
	color: #FFFFFF;
}
.list-tab li a {
	background-color: #e1e1e2;
	color: #4a4848;
}
ul.list-tab {
	margin: 20px 0 0 45px;
}
.tab-content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E7E7E8;
	/*min-height: 450px;*/
	margin-bottom: 15px;
}
.list-table td, .list-table th {
	border-right: 1px solid #DDDDDD;
}
.list-table {
	margin: 2%;
	width: 96%;
	border: 1px solid #E8E9EB;
}
.list-table tr th, .list-table tr td {
	padding: 10px 20px;
}

.navbar-nav li:last-child a {
    border-right: 1px solid #C9C9C9;
}

.list-table th {
	background-color: #0085c8 !important;
	font-weight: normal;
	color: #fff;
}
.dash-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
}
.calender-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -30px 0;
	margin: 0 auto;
}
.plan-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	margin: 0 auto;
}
.list-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -90px 0;
	margin: 0 auto;
}
.do-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -120px 0;
	margin: 0 auto;
}
.check-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -150px 0;
	margin: 0 auto;
}
.act-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -180px 0;
	margin: 0 auto;
}
.published-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -210px 0;
	margin: 0 auto;
}
.setting-icon {
	text-align: center;
	width: 30px;
	height: 26px;
	background-image: url("/assets/outer/sub-nav-icon.png");
	background-repeat: no-repeat;
	background-position: -240px 0;
	margin: 0 auto;
}
.sort-icon {
	background-image: url("/assets/outer/sort-icon.png");
	background-repeat: no-repeat;
	width: 7px;
	height: 16px;
	display: inline-block;
}
.overview-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	  float: left;
}
.audit-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: -25px 0;
	margin: 0 auto;
	  float: left;
}
.risk-icon {
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("/assets/outer/menu-icon.png");
	background-repeat: no-repeat;
	background-position: -50px 0;
	margin: 0 auto;
	  float: left;
}

a.active .overview-icon, a:hover .overview-icon {
	background-position: 0 -25px;
}
a.active .audit-icon, a:hover .audit-icon {
	background-position: -25px -25px;
}
a.active .risk-icon, a:hover .risk-icon {
	background-position: -50px -25px;
}
a.set-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: 0 -20px;
}
a.tick-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -20px -20px;
}
a.tick1-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -40px -20px;
}
a.book-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -60px -20px;
}
a.pdf-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -80px -20px;
}
a.edit-icon.active {
	background-image: url("/assets/outer/action-icon.png");
	background-position: -100px -20px;
}
a.set-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 5px;
	display: inline-block;
}
a.tick-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -20px 0;
	margin: 0 5px;
	display: inline-block;
}
a.tick1-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -40px 0;
	margin: 0 5px;
	display: inline-block;
}
a.book-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	margin: 0 5px;
	display: inline-block;
}
a.pdf-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -80px 0;
	margin: 0 5px;
	display: inline-block;
}
a.edit-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	background-image: url("/assets/outer/action-icon.png");
	background-repeat: no-repeat;
	background-position: -100px 0;
	margin: 0 5px;
	display: inline-block;
}
.footer_left{ text-align:left;}
.footer_right{ text-align:right}

.page_heading {
  color: #534e4e;
  font-family: 'Open Sans',Arial,Helvetica;
  font-size: 16px;
  margin-top: 30px;
}

.profile_photo_block {
  float: left;
  margin-right: 20px;
  position: relative; padding: 15px 0 0 15px;
}

.profile_photo {
    background: none repeat scroll 0 0 #FEFCFD;
    border: 1px solid #d7d6d6;
    float: left;
}

.profile_form {
    margin-top: 15px;
	float: left;
}

.profile_form label {
    width: 100px;
}

.profile_form input{ border-radius:5px; border:1px solid #dad9d9;
-moz-box-shadow:    inset 0 0 10px #dad9d9;
   -webkit-box-shadow: inset 0 0 10px #dad9d9;
   box-shadow:         inset 0 0 10px #dad9d9; padding: 5px 15px;

}

.profile_form select{
	border-radius:5px; border:1px solid #dad9d9;
-moz-box-shadow:    inset 0 0 10px #dad9d9;
   -webkit-box-shadow: inset 0 0 10px #dad9d9;
   box-shadow:         inset 0 0 10px #dad9d9; padding: 5px 5px;
	}

.pad_bttm {
  padding: 0 0 15px;
}

.user_main {
  background-color: #FFFFFF;
  border: 1px solid #E7E7E8;
  padding: 0 0 15px;
  margin-bottom: 100px;
}

.orange_btn {
  background-color: #FE9537;
  border: medium none;
  border-radius: 5px;
  color: #454343;
  font-size: 14px;
  padding: 5px 20px;
}

.orange_btn:hover{ background-color:#ffb674; color:#fff;}

.black_btn {
  background-color: #626262;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
}




/* Audit Page*/
.audit-title {
	background-color: #fff;
}
.audit-content {
	border: 1px solid #E1DDDD;
	display: inline-block;
	margin-bottom: 90px;
	padding: 20px 0;
}
.audit-title h2 {
	background: none repeat scroll 0 0 #0085C8;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: normal;
	padding: 5px 15px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}
.audit-content h3 {
	color: #4A4848;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin: 5px 0 10px;
	padding: 0 0 0 20px;
}
#datetimepicker1 {
	width: 150px;
}
#datetimepicker1 input {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
}
.addissue a {
	background-color: #DEE1E1;
	color: #454343;
	float: right;
	font-size: 12px;
	margin: 0 45px 0 0;
	padding: 5px 10px 5px 40px;
	border-radius: 5px;
}
.addissue a:hover {
	background-color: #929292;
}
.plus-icon {
	background-image: url("/assets/outer/plus-icon.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}
.minus-icon {
	background-image: url("/assets/outer/minus-icon.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}
.audit-title label {
	color: #4A4848;
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
}
.audit-title select {
	border: 1px solid #dad9d9 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #fff url("/assets/outer/select_bg.jpg") no-repeat 100% 0px;
	width: 100%; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #434348;
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 0 5px #dad9d9;
}
.audit-title .audit-big-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 100%;
	height: 80px;
}
.audit-title .audit-normal-input {
	border-radius: 5px;
	border: 1px solid #dad9d9;
	-moz-box-shadow: inset 0 0 5px #dad9d9;
	-webkit-box-shadow: inset 0 0 5px #dad9d9;
	box-shadow: inset 0 0 5px #dad9d9;
	padding: 5px 5px;
	width: 100%;
	height: 35px;
}
.border-divider {
	border-bottom: 8px solid #f5f2f2;
	margin: 15px 0;
}
.checklist_select_big select {
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	width: 100%;
	background-image: url("/assets/outer/select_icon.png");
	background-repeat: no-repeat;
	background-position: 92% center;
	text-indent: 0.01px;
	text-overflow: "";
}
.high_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-right: 1px solid #3d3d3d;
	border-radius: 5px 0 0 5px;
}
.medium_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-right: 1px solid #3d3d3d;
}
.low_btn {
	background-color: #DAD9D9;
	border: medium none;
	padding: 3px 5px;
	color: #252525;
	border-radius: 0 5px 5px 0;
}
.high_btn.active, .medium_btn.active, .low_btn.active {
	background-color: #606060 !important;
	color: #fff !important;
}
.padding15px {
	padding: 0 15px 0 0;
}
.error_content {
	font-size: 175px;
	margin-top: 50px;
	text-align: center;
	color: #0085C8;
}
.error_sub_content {
	font-size: 30px;
	text-align: center;
	color: #000;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.error_logo{ padding-top:15px; font-size:25px;}

.attach-icon{ background-image:url(/assets/outer/attach-icon.png); background-repeat:no-repeat;padding: 0 0 0 18px;}
.audit-title {
    color: #252525;
    font-size: 12px;
}

#Accordion1 a {
  color: #252525;
  font-size: 14px;
}
.blue_link{ font-size:12px !important; color:#0085c8 !important; text-decoration:underline !important;  }

.tab-content{padding-bottom: 30px; margin-bottom: 85px !important;display: inline-block;}
.pending_msg{ color: #E24141;font-size: 12px;padding: 0 30px 0 0;}
.complete_msg{ color: #606060;font-size: 12px;padding: 0 30px 0 0;}
.number_link a{
	background-color: #e0dedc;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding:1px 5px;font-size: 12px !important;}
.number_link a.active,.number_link a:hover{background-color: #F59035;}
.block_link a.active{ background-color:#dc7d01; color:#fff !important;}
.block_link a{ font-size:12px !important;padding: 4px 3px 4px 6px;background-color:#b6b5b5;line-height:30px;}

.black_btn {
  color: #FFFFFF !important;
}

.tab_main_title {
  color: #534E4E;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0;
  padding: 0 30px;
}

.grey_btn {
    background-color: #c3c1c1;
    border: medium none;
    border-radius: 5px;
    color: #302f2f !important;
    font-size: 14px !important;
    padding: 5px 20px;
}
.pending_active{  background: none repeat scroll 0 0 #D8D5D5 !important;}
.grey_btn:hover{ background-color:#dbd8d8;}


.audit-title h3 {
    color: #4A4848;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 0 10px;
    padding: 0 0 0 20px;
}

.paddingtop{ padding-right: 15px;
    padding-top: 15px;}





/* footer,notice alignment*/
.navbar{
	background:none!important;
	border:none;
}
.black_btn:hover{ background-color:#929292; color:#454343;}
.main_nav li a{
	padding: 18px 20px !important;
	color:#000!important;
	text-decoration: none;
}
.main_nav li a:hover {
	color:#FFFFFF!important;
	}
.navbar-header a{
	text-decoration: none;
	color:#999999!important;
}

#footer-adjust {
  min-height: 335px;
}
.user-name {
    float: left;
    height: 22px;
    max-width: 150px;
    min-width: 75px;
    overflow: hidden;
    padding: 0 0 0 5px;
}
.user_login > img {
    float: left;
}
#login_drop {
    padding: 35px 0 0;
}
#login_drop img {
    padding: 5px 0 0;  float: right;
}



.profile_photo {
    background-image: url("/assets/outer/face-image.jpg");
   position:relative;
	width:102px; height:102px;
	border:1px solid #666;
    cursor: pointer;border-radius: 3px;
}


.profile_photo_sec {
    background-image: url("/assets/outer/upload-image.png");
   position:absolute;
	bottom:0; width:100px; height:100px; left:0; display:none;
	background-repeat:no-repeat; background-position:bottom center;
}
.profile_photo:hover .profile_photo_sec{ display:block;}

.profile_img {width: 100px;height: 100px;}


.profile_form input[type="submit"] {
    box-shadow: none;
}

.error_message {
color: #932419;
text-align: left;
}

.error_inputfield input{ border:1px solid  #932419!important;}
.add-btn{
	 margin: 0 0 20px 122px;
	float: left;
}
.add-btn-padding{
	padding: 6px 0;
	display: block;
}

.error_input { border:1px solid  #932419!important;}

/*Import Section*/
@import url("fullcalendar.css");	/* Calendars Styles */

.audit_search input[type="text"] {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  float: left;
  height: 30px;
  margin: 5px 0 0 12px;
  padding: 0;
  width: 233px;box-shadow: none;
}
.audit_search input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  color: rgba(0, 0, 0, 0);
  height: 38px;
  width: 38px; 
}

.audit_search{ background-image: url("/assets/outer/search_bg.png"); width:287px; height: 38px;}

.audit_search {
    margin: 4px 0 0; position: relative; z-index: 99999;
}
.plusround-icon {
    background-image: url("/assets/outer/add-btn.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
     height: 19px;
    margin-top: 8px;
    padding: 10px;

    width: 19px;
    display: inline-block;
}

a.plus-background{
	 background-color: rgba(0, 0, 0, 0) !important;
	    float: left;
    margin:8px 0 0;
}

.minusround-icon {
    background-image: url("/assets/outer/minus-btn.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 19px;
    margin-top: 8px;
    padding: 10px;
    width: 19px;
}

.comaduit_resp .col-sm-10{width: 83.3333% !important;}
.comaduit_resp input {
    margin-bottom: 15px;
}
#skip_reminder {
    margin-top: 12px;
}
.text-align-right{ text-align: right;}


