<%= javascript_include_tag "/assets/views/info_asset.js" %>

<div class="clearfix"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="ui teal buttons">
          <div class="ui button">Save</div>
          <div class="ui teal floating dropdown icon button">
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item"><a href ="/computers/new"><i class ="exclamation icon"></i><h5>Edit Post</h5></a></div>
              <div class="item"></i>Remove Post</div>
              <div class="item"></i>Hide Post</div>
            </div>
          </div>
        </div>
      <!-- Nav tabs -->
      <div id="example" class="k-content">
      <div class="risk-title">Listing Assets</div>
      <div class="buttons_container pull-right">
                    <a class="btn btn-info add_new" href="computers/new">Add New</a>
                    <a class="btn btn-info add_new" data-toggle="modal" href="#add_url">Import</a>
            </div>
        <div class=" col-xs-12 col-md-12 col-sm-12 col-lg-12">
           <div class="box-wrapper">
             <div class="search-box src-space clearfix">
                <div class="fright scr-padding">
                <div class="form-group audit_search">
                  <%= text_field_tag :query, params[:query], :class=>"form-control", :id => "search-value" %>
                  <%= submit_tag "Search", name: nil, :class=>"btn btn-default src-brn", :id => "search-button" %>
                  <a href="javascript:void(0);" class="cancel-btn1">Clear</a>
                </div>
              </div>
            </div>
            <%# if params[:stage].nil? %>
              <div id="grid"></div>
            <%# else %>
              <!-- <div id="gridforstage"></div> -->
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
$('.ui.dropdown')
.dropdown();
</script>












        