<div class="policy-location">
<div class='approve_choice clearfix'>
  <label class="col-sm-4 control-label">
    <%#= f.label :reviewer %>
  </label>
  <div class="col-sm-7">
    <div class="auditees-users">
                <%= f.select :location_id, options_for_select(Location.all, :selected => f.object.location_id), {include_blank: 'Select Location' } %>
    </div>
    <%#= f.text_field :user_id, :class => "audit-normal-input col-sm-10" %>
    <%= link_to_remove_policy_location "", f %>
  </div>
</div>
</div>
