<div class="step-header">
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>
<div class="form-group clearfix">
    <label class="col-sm-3 control-label">Standards</label>
    <div class="col-sm-9">
        <%= f.collection_select(:standard_id, Compliance.all, :id,:name, :prompt => true) %>
    </div>
</div>
<div class="form-group clearfix">
    <label class="col-sm-3 control-label">Controls</label>
    <div class="col-sm-9">
        <select>
            <option>Control 1</option>
            <option>Control 2</option>
            <option>Control 3</option>
            <option>Control 4</option>
        </select>
    </div>             
</div>