<div class="container">
<title>Control</title>
<!-- <p> <a href="/admin/settings">Company Admin Settings</a></p> -->
<!-- <p> <a href="/activities">Audit Trail</a></p> -->
<%= render "control_dashboard"%>
</div>
