

<%= javascript_include_tag "/assets/views/incident_index.js" %>

<div class="page-wrap">
<div class="clearfix"></div>
<div class="content">
  <div class="container">
    <div class="row grid">
      <!-- Nav tabs -->
      <div id="example" class="k-content">
      <div class="risk-title">Incidents Listing</div>
       	<div class=" col-xs-12 col-md-12 col-sm-12 col-lg-12">
        	 <div class="box-wrapper">
             <div class="search-box src-space clearfix">
  							<div class="fright scr-padding">
  							<div class="form-group audit_search">
  								<%= text_field_tag :query, params[:query], :class=>"form-control", :id => "search-value" %>
  								<%= submit_tag "Search", name: nil, :class=>"btn btn-default src-brn", :id => "search-button" %>
                  <a href="javascript:void(0);" class="cancel-btn1">Clear</a>
  							</div>
						  </div>
						</div>
            <%# if params[:stage].nil? %>
              <div id="grid"></div>
            <%# else %>
              <!-- <div id="gridforstage"></div> -->
            <%# end %>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
