<div class="page-wrap">
  <div class="content">
    <div class="container">
      <div class="row">
        <div id="example" class="k-content">
<div class="risk-title">Document a New Risk</div>
<%= form_for(@incident) do |f| %>

<%= render 'form',:f => f, :incident => @incident %>

<%= f.submit "Add Incident" %>


<%end%>

</div>
</div>
</div>
</div>