<%= javascript_include_tag "/assets/views/computer.js" %>

<div class="page-wrap">
<div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="row grid-sp">

        <div id="example">


            <div id="grid" class="k-grid-content"></div>

        </div>
      </div>

      </div>
    </div>
  </div>
</div>
