<style>

.containerFull:after {
    clear: both;
    content: "";
    display: table;
}

.cmdb-sidebar {
    background: none repeat scroll 0 0 #DDDEE0;
    min-height: 500px;
}

.ticket-leftcol {
    float: left;
    height: auto !important;
    min-height: 477px;
    width: 260px;
}

#cmdb-tree {
    background: none repeat scroll 0 0 #DDDEE0;
    margin: 25px 10px 10px;
}

.demo-section {
    width: 200px;
}

#treeview li {
	color: #181818;
}

.k-state-selected {
	color: black;
	background: blue;	
}

.k-treeview-lines {
	width: 200px;
}

.test {
	font-size: large;
}

.test2 {
	padding: 0px;
}

#test3 {
	font-family: 'Oswald', sans-serif;
}

.asset-divider {
	border-bottom: 8px solid #f5f2f2;
	margin: 15px 0;
}

#test4 {
	background:#F87431; border:0; height:7px
}

.contentCol {
    background-color: #fff;
    border-left: 1px solid #cfcfcf;
}

.hasRightCol {
    margin-left: 231px;
}

.cmdb-list #sticky_header {
    margin: -20px 0 20px;
    padding: 1%;
}

.fixed-header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 0 #f4f4f4;
    padding-bottom: 10px;
}

.title {
    padding: 5px 0;
}

.cmdb-list #sticky_header .buttons_container {
    padding-top: 8px;
}
.pull-right {
    float: right;
}

a.btn {
    padding: 5px 14px;
}

.btn-info, .btn-group.open .btn-info.dropdown-toggle {
    background-color: #003c03;
    background-image: -moz-linear-gradient(center top , #004604, #002d03);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
    margin-right: 4px;
}

</style>

<%= javascript_include_tag "/assets/views/computer.js" %>

<div id="test3">
<div class="containerFull">
	<div id="leftcol" class="ticket-leftcol cmdb-sidebar">
		<div id="cmdb-tree">
			<div class="demo-section k-header">
	        <ul id="treeview">	            
	            <li><span class="test"><a href="/computers">Computers</a></span></li>
	            <hr>
	            <li><span class="test"><a>Software</a></span></li>
	            <hr>
	            <li><span class="test"><a>Mobile Assets</a></span></li>
	            <hr>
	           	<li><span class="test"><a>Database</a></span></li>
	            <hr>
	           	<li><span class="test"><a>Miscellaneous</a></span></li>
	            <hr>
	            <li><span class="test"><a>Server</a></span></li>
	            <hr>
	            <li><span class="test"><a>Operating Systems</a></span></li>
	            <hr>
	            <li><span class="test"><a>Services</a></span></li>
	            <hr>
	            <li><span class="test"><a>Consumable</a></span></li>
	            <hr>
	            <li><span class="test"><a>Network</a></span></li>
	            <hr>
	            <li><span class="test"><a>Document</a></span></li>
	            <hr>
	            <li><span class="test"><a>Trash</a></span></li>	            
		    </ul>
		    </div>
		</div>
	</div>
	<div id="rightcol" class="contentCol hasRightCol">
		<div id="sticky_header" class="fixed-header clearfix"  style="width: 1116px;">
			<h3 class="title floatl">My Assets</h3>
			<div class="buttons_container pull-right">
				<a id="ci_new_btn" class="btn btn-info add_new" href="">Add New</a>
			</div>
			<div>
				<div id="example">
			      <div class="row grid">

			        <div class="fright set-wrap">
			          <div class="form-group audit_search">
			            <%= text_field_tag :query, params[:query], :class=>"form-control", :id => "search-value" %>
			            <%= submit_tag "Search", name: nil, :class=>"btn btn-default", :id => "search-button" %>
			            <a href="javascript:void(0);" class="cancel-btn1">Clear</a>
			          </div>
			        </div>
            		
            		<div id="grid" class="k-grid-content"></div>

        			</div>
      			</div>

      		</div>
			</div>
		</div>
	</div>
</div>
</div>

<script>
    $(document).ready(function() {

        $("#treeview").kendoTreeView();


        var original = $("#treeview").clone(true);

        $(".configuration input").change( function() {
            var treeView = $("#treeview"),
                clone = original.clone(true);

            treeView.parent().empty().remove();
            $(".demo-section").append(clone);

            initTreeView();
        });

        var initTreeView = function () {
            $("#treeview").width(200)
                .kendoTreeView({
                    animation: {
                        expand: {
                            effects: getEffects()
                        }
                    }
                });
        };

        var getEffects = function () {
            return (($("#expand")[0].checked ? "expand:vertical " : "") +
                    ($("#opacity")[0].checked ? "fadeIn" : "")) || false;
        };

        initTreeView();
    });
</script>