<%= javascript_include_tag "/assets/views/other_asset.js" %>

<div class="page-wrap">
<div class="clearfix"></div>
  <div class="content">
    <div class="container">
    	<div class="clearfix"> <a class="import-btn"><i class="add-icons"></i>New Asset</a>
      	</div>
      <div class="row grid">

        <div id="example">


            <div id="grid" class="k-grid-content"></div>

        </div>
      </div>

      </div>
    </div>
  </div>
</div>
