<style type="text/css">
  td {
    background-color: red;
    width:70%;
}
</style>
<table  style="width:100%">
  <tr>
    <th>ID</th>
    <th >Name</th>
  </tr>
  <% @controls.each do |control| %>
  <tr>
    <td><%= control.id %></td>
    <td ><%= control.title %></td>
  </tr>
  <% end %>
</table>



