<div class="clearfix"></div>
<div class="content">
    <div class="container">
        <div class="row">
        	<br>
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-default">
	                <div class="panel-heading">
	                    <h4><b><%= @control.title %></b></h4>
	                </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped list-table">
                                <tr>
                                    <th colspan="6"><%= @control.id %>- Version</th>
                                </tr>
                                <tr>
                                  <td><label class="col-sm-5"class="col-sm-4">Kind of Policy</label>
                                    <span></span></td>
                                  <td><label class="col-sm-5"class="col-sm-4">Classification</label>
                                    <span></span></td>
                                </tr>
                                <tr>
                                    <td><label class="col-sm-5"class="col-sm-4">Audience</label>
                                    <span></span></td>
                                    <td><label class="col-sm-5"class="col-sm-4">Locations</label>
                                    <span>
                                    </span></td>
                                </tr>
                                <tr>
                                    <td><label class="col-sm-5"class="col-sm-4">Departments</label>
                                    <span>
                                        </span></td>
                                    <td></td>
                                </tr>
                            </table>


                            <table class="table table-striped list-table">
                                <tr>
                                    <th>Supporting Documents</th>
                                </tr>
                                <tr>
                                    <td>Attachment 2</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>