<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>fixnix</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/docs.min.css">
<link rel="stylesheet" type="text/css" href="css/media.css">
<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
</head>

<body>

  <div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="row"> 
        <!-- Nav tabs --> 
        <div class="tab_main_title">Evaluation</div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="all">
            <div class="table-responsive">
              <table class="table table-striped list-table">
                <tr>
                  <th colspan="6">Incident Requester Details</th>
                </tr>
                <tr>
                  <td><label>Requester : </label>
                    <span> Selva</span></td>
                  <td><label>Type : </label>
                    <span> Incident Management</span></td>
                    <td><label>Title : </label>
                    <span> Incident Title</span></td>
                  
                </tr>
                <tr>
                <td><label>Catagory : </label>
                    <span> Incident Request</span></td>
                  <td><label>Department : </label>
                    <span> Networking</span></td>
                  <td><label>IncidentSummary : </label>
                    <span> Overview</span></td>
                   
                </tr>
                <tr>
                <td><label>Evidence : </label>
                    <span> <a href="" class="attach-icon  blue_link">Download Evidence</a></span></td>
                  <td><label>Date Occured: </label>
                    <span> 01/08/2014</span></td>
                  <td><label>Time Occured: </label>
                    <span> 01/08/2014</span></td>
                  
                </tr>
                 <td><label>Contact No : </label>
                    <span> 9600555420</span></td>
                  <td><label>Date of Creation: </label>
                    <span> 01/08/2014</span></td>
                  <td><label></label>
                    <span> </span></td>
                  
                </tr>
               
              </table>
            </div>
          </div>

 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Departments</label>
                    <div class="col-sm-8">
                    
                    </div>
                    </div>
                  </div>

          <div class="container">
            <div id="Accordion1">
              <h3><a href="#">Incidet-Manager Evaluation</a> <span class="fright pending_msg">Pending</span></h3>
              
              <div>
                <div class="row audit-title">
                  
                  <div class="col-lg-4">
                  <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Status :</b> </label>
                      <div class="col-sm-7"> 
                      <div class="risk-select">
                      <select class="form-control">
                      <option>New</option>
                      <option>Progress</option>
                      <option>Resolution Completed</option>
                      <option>Closed</option>
                     
                    </select>
                    </div>
                     </div>
                    </div>

                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Urgency :</b> </label>
                       <div class="col-sm-7">
                        <div class="risk-select">
                      <select class="form-control">
                      <option>High</option>
                      <option>Medium</option>
                      <option>Low</option>
                      </select>
                    </div>
                      </div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Priority :</b> </label>
                      <div class="col-sm-7">   
                      <div class="risk-select">
                      <select>
                          <option>High</option>
                      <option>Medium</option>
                      <option>Low</option>
                     
                        </select>
                        </div>
                    </div>




                    </div>
                     <div class="form-group clearfix">
                      <label  class="col-sm-6"><b>Resolution Time :</b> </label>
                      <div class="col-sm-6">
                     <input type="text" class="form-control risk-normal-input"  placeholder="">
                        </div>
                    </div>
                    

                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Impact :</b> </label>
                      <div class="col-sm-7">
                       <div class="risk-select">
                      <select class="form-control">
                      <option>High</option>
                      <option>Medium</option>
                      <option>Low</option>
                     
                    </select>
                    </div>
                      </div>
                       
                    </div>
                   <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Assignee Team :</b> </label>
                       <div class="col-sm-7">
                        <div class="risk-select">
                      <select class="form-control">
                      <option>Team-01</option>
                      <option>Team-02</option>
                      <option>Team-03</option>
                      <option>Team-04</option>
                      <option>Team-05</option>
                    </select>
                    </div>
                      </div>
                    </div>

                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Assignee :</b> </label>
                      <div class="col-sm-7"> 
                      <div class="risk-select">
                      <select>
                        <option>Assignee-01</option>
                          <option>Assignee-02</option>
                          <option>Assignee-03</option>
                          <option>Assignee-04</option>
                          <option>Assignee-05</option>
                     
                        </select>
                        </div>
                    </div>
                    
                    </div>
                     <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Escalation :</b> </label>
                      <div class="col-sm-7">
                     
                      <input type="checkbox" name="vehicle" value="Bike"> 
                        </div>
                        </div>
                    </div>    
                    
                   
                 

                  <div class="col-lg-4"><div class="form-group clearfix">
                      <label class="col-sm-5"><b>Target Date :</b> </label>
                      <div class="col-sm-7"> <input id="datepicker2" value="10/10/2011" style="width:150px;" /></div>
                        
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>SLA :</b> </label>
                      <div class="col-sm-7">
                      <div class="risk-select">
                      <select>
                       <option>SLA-01</option>
                          <option>SLA-02</option>
                          <option>SLA-03</option>
                          <option>SLA-04</option>
                          <option>SLA-05</option>
                        </select> 
                        </div>
                        </div>
                        
                    </div>
                 
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Incident Origin </b> </label>
                      <div class="col-sm-7">
                      <div class="risk-select">
                      <select>
                        <option>Call</option>
                          <option>Email</option>
                          <option>Web</option>
                          </select> 
                        </select> 
                        </div>
                        </div>
                    </div>
                   
                             
                   
                   </div>
                                   
              </div>
            </div>
          </div>
         <div class="clearfix"></div>
                    <div class="fright paddingtop"><a class="orange_btn" href="">Submit</a> <a class="grey_btn" href=""> Cancel</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer_left col-lg-6">2014 © FixNix Audit Management</div>
        <div class="footer_right col-lg-6">Powered By<img src="img/footer_logo.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(window).load(function(){
	var $container = $('#grid_items');
	// initialize
	$container.masonry({
	  columnWidth: 292,
	  itemSelector: '.item',
	  isFitWidth: true
	});
	
	
	$(".block_banner img").each(function(index, element) {
        var screenImage = $(this);

		// Create new offscreen image to test
		var theImage = new Image();
		theImage.src = screenImage.attr("src");
		
		var imageHeight = theImage.height;
		
		$(this).css("max-height",imageHeight);
		$(this).css("min-height",imageHeight);
    });
});

$(".click_icon").click(function() {
			$(".share_pop").show();
});

$(".click_icon").click(function(){
		$(".share_pop").show();
});
	
$(document).ready(function(){
	
	Top_postion = $(window).scrollTop();
	
	$( ".user_login" ).mouseenter(function() {
		$(this).addClass("active");
		$(".account_header_dropdown").slideDown(100);	  
	})
	.mouseleave(function() {
		$(this).removeClass("active");
		$(".account_header_dropdown").hide();
	});
	
	//for notification drop hide in outside click
	onclick_icon = 0;	  
	$(".click_icon").mouseenter(function() {
		onclick_icon = 0;	  
	})
	.mouseleave(function() {
		onclick_icon = 1;	  
	});
	
	
	$("body").click(function(){
		if(onclick_icon){
			$(".share_pop").hide();
		}
	});
	
	
	/* placeholder */
	$(".place_holder").each(function(index, element) {
		placeholder = $(this).attr("data-original");
		$(this).val(placeholder);
		$(this).removeClass("active");
    });

	$(".place_holder").focus(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==placeholder){
			$(this).val("");
			$(this).addClass("active");
		}
	});
	$(".place_holder").blur(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==""){
			$(this).val(placeholder);
			$(this).removeClass("active");
		}else{
			$(this).addClass("active");
		}
	});
	$(".place_holder").click(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==placeholder){
			$(this).val("");
			$(this).addClass("active");
		}
	});
	/* placeholder */
	
	
});
/*$(window).scroll(function(){
	Top_postion = $(window).scrollTop();
	
	if(Top_postion>10){
		$(".go_to_top").show();
	}else{
		$(".go_to_top").hide();
	}
});
$(".go_to_top").click(function(){
	top = 0;
	$("html, body").animate({scrollTop: "0"}, 800);
});
*/
</script>
<link href="jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<link href="jQueryAssets/jquery.ui.accordion.min.css" rel="stylesheet" type="text/css">
<script src="jQueryAssets/jquery-1.8.3.min.js" type="text/javascript"></script> 
<script src="jQueryAssets/jquery-ui-1.9.2.accordion.custom.min.js" type="text/javascript"></script> 
<script type="text/javascript">
$(function() {
	$( "#Accordion1" ).accordion(); 
});
</script>
<link href="http://cdn.kendostatic.com/2014.1.416/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.416/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="http://cdn.kendostatic.com/2014.1.416/js/kendo.all.min.js"></script>
<script>
            $(document).ready(function() {
                // create DatePicker from input HTML element
        
  				$("#datepicker2").kendoDatePicker();
                
            });
        </script>
</body>
</html>