<div class="header" id="home">
    <div class="header_top">
        <div class="wrap">
            <!--<br>-->
            <div class="logo">
                <a href="http://www.fixnix.co/"><img src="/assets/outer/logo1.png" alt="" /></a>
            </div>
            <div class="menu">
                <ul>
                    <div class="social-icons">


                        <li><a href="https://www.facebook.com/fixRnix" target="_blank"> <img src="assets/outer/facebook.png" alt="" /></a></li>
                        <li class="twitter"><a href="https://twitter.com/fixRnix" target="_blank"> <img src="assets/outer/twitter.png" alt="" /></a></li>
                        <li class="likedin"><a href="http://www.linkedin.com/company/fixrnix" target="_blank"><img src="assets/outer/likedin.png" alt="" /></a></li>

                        <li class="login" >
                            <div id="loginContainer"> <a href="/users/sign_in"><span><font color="white">Login</font></span></a>
                                <!--<div id="loginBox">-->
                                <!--<form id="loginForm">-->
                                <!--<fieldset id="body">-->
                                <!--<fieldset>-->
                                <!--<label for="email">Email Address</label>-->
                                <!--<input type="text" name="email" id="email">-->
                                <!--</fieldset>-->
                                <!--<fieldset>-->
                                <!--<label for="password">Password</label>-->
                                <!--<input type="password" name="password" id="password">-->
                                <!--</fieldset>-->
                                <!--<input type="submit" id="login" value="Sign in">-->
                                <!--<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>-->
                                <!--</fieldset>-->
                                <!--<span><a href="#">Forgot your password?</a></span>-->
                                <!--</form>-->
                                <!--</div>-->
                            </div>
                        </li>
                        <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!--<table style="margin:0px;padding:0px;">-->

                <div class="main">
                    <!--<div class="content">   -->
                    <div class="content_top">
                        <div class="wrap">
                            <div class="banner_desc">
                                <h1><span>NIXRISK</span></h1>
                                <h2 align="justify">Many organizations are not able to evaluate corporate risks across departments or business units. Companies also struggle to link risk ratings to compliance and governance data.
                                    FIXNIX Risk Management helps organizations address these challenges by NIX RISK platform which has cutting edge features and competitive modules,
                                    a risk management tool that helps to visualize and communicate risk at all levels of the enterprise.</h2>
                                <br>
                                <iframe width="500" height="300" src="https://www.youtube.com/embed/MPjIbxD4nGg?rel=0" frameborder="0" allowfullscreen></iframe>

                                <h3>Start your free <span>30-days trial</span> today!</h3>
                                <p>No credit card required.</p>
                                <div class="sign_up">
                                    <form action="/plans/new">
                                        <!--<input type="text" value="E-mail address " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}"> -->
                                        <input type="submit" value="Get Started for Free !" >
                                    </form>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="ipad">
                                <img src="assets/outer/rtm.png" alt="" />
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!--<div class="button"><a class="popup-with-zoom-anim" href="#small-dialog">See all features <img src="images/arrow.png" alt="" /></a>-->
                    <!---->



                    <script>
                        $(document).ready(function() {
                            $('.popup-with-zoom-anim').magnificPopup({
                                type: 'inline',

                                fixedContentPos: false,
                                fixedBgPos: true,

                                overflowY: 'auto',

                                closeBtnInside: true,
                                preloader: false,

                                midClick: true,
                                removalDelay: 300,
                                mainClass: 'my-mfp-zoom-in'
                            });

                        });
                    </script>

                </div>
            </div>
            </div>
            </div>


            <div class="clear"></div>
            </div>
            </div>
            </div>

            </div>


        </td>










            <div class="main">
    <!--<div class="content"> -->

       <div class="content_top" style="background:black; onmouseover="this.style.background='gray';" ">
           <div class="wrap">
                 <div class="banner_desc">
                <h1><span>NIXAUDIT</span></h1>
                <h2 align="justify"> FIXNIX Audit Management puts you in control of the complete audit lifecycle,
                        enabling improved governance of ongoing audit-related activities, data and processes
                        without the limitations of manual or stand-alone solutions. Aligned with the institute of
                        internal Auditors (iiA) standards, this web-based solution provides an aggregate view of
                        your audit program, including planning, scheduling, risk-based prioritization, staffing,

                        management of audit procedures, and tracking of remediation efforts.</h2>
                     <br>
                     <br>
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/hYlgyqOv6c0?rel=0" frameborder="0" allowfullscreen></iframe>
                <h3>Start your free <span>30-days trial</span> today!</h3>
                <p>No credit card required.</p>
                 <div class="sign_up">
           <form action="/plans/new">
                <!--<input type="text" value="E-mail address " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}"> -->
              <input type="submit" value="Get Started for Free !" >
            </form>
            </div>

                </div>
               <br>
               <br>
                     <div class="ipad">
                     <img src="assets/outer/ipad.png" alt="" />
                   </div>
             <div class="clear"></div>
        </div>
     </div>

                        <!--<div class="button"><a class="popup-with-zoom-anim" href="#small-dialog">See all features <img src="images/arrow.png" alt="" /></a>-->
                          <!---->
    <br>
                          <!--<div id="small-dialog2" class="mfp-hide">-->

                                    </div>
                         <script>
                          $(document).ready(function() {
                            $('.popup-with-zoom-anim2').magnificPopup({
                              type: 'inline',

                              fixedContentPos: false,
                              fixedBgPos: true,

                              overflowY: 'auto',

                              closeBtnInside: true,
                              preloader: false,

                              midClick: true,
                              removalDelay: 300,
                              mainClass: 'my-mfp-zoom-in'
                            });

                          });
                          </script>

                        </div>
                  </div>
            </div>
                </div>




        <div class="clear"></div>
        </div>
      </div>
       </div>

       </div>
       </td>
       </tr>
</table>
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
             <div class="copy_right">
                <div class="wrap">
                    <br>
                    <p>© 2014 Fixnix<a target="_blank">  </a><a ></a></p>
                </div>
            </div>