<div class="container">
    <div class="row">
        <div class="col-md-5">
            New to FixNix GRC?
        SignUp here
        </div>
        <div class="col-md-5">
            Existing Memeber
        Login here
        </div>
    </div>
</div>