<div id="Accordion1">
  <% @questions.each do |question| %>
    <h3><a href="#"><%= question.question %></a> <span class="fright pending_msg">Pending</span></h3>
      <div>
        <div class="row audit-title">
          <%= render :partial => "answer_type",  locals: {:f => f, :question => question} %>
        </div>
      </div>
  <% end %>
</div>