<div class="form-group clearfix">
  <%= f.label :detailed_value, t(' checklist_recommendation.priority'), :class => "col-sm-5 control-label" %>
    <div class="col-sm-7">
        <%= f.text_area :detailed_value, :class => "form-control" %>
    </div>
</div>