<link rel="stylesheet" type="text/css" href="/assets/outer/asset-style.css">
<%= javascript_include_tag "/assets/views/mobile_asset.js" %>

<div id="test3">
<div class="containerFull">
  
  <%= render partial: "asset_partials/asset_left_menu" %>
  <div id="rightCol" class="contentCol hasRightCol">
    <div class="clearfix" style="width: 1116px">
      <h3 class="title floatl">Listing Mobiles</h3>
      <div class="buttons_container pull-right">
        <!-- <a class="" href="/cmdb/items_import/csv">Import</a> -->
        <a class="btn btn-info add_new" href="">Add New</a>
        <a class="btn btn-info add_new" href="">Add New</a>
        
    </div>
      <div id="cmdb_data_table_wrapper" class="dataTables_wrapper">
        <!-- <div class="tbl-ctrls clearfix"> -->

            <div id="example">
              <div class="row grid">
                <div class="fright set-wrap">
                  <div class="form-group audit_search">
                    <%= text_field_tag :query, params[:query], :class=>"form-control", :id => "search-value" %>
                    <%= submit_tag "Search", name: nil, :class=>"btn btn-default", :id => "search-button" %>
                    <a href="javascript:void(0);" class="cancel-btn1">Clear</a>
                  </div>
                </div>
                <div id="grid" class="k-grid-content"></div>
              </div>
            </div>

        <!-- </div> -->
        <div id="computergrid" class="row-fluid cmdb-item-list dataTable">
        </div>
      </div>
      </div>
    </div>
    <div>
    </div>
  </div>

</div>
</div>