 <div class="content">
  <div class="container">
  	 
  	<% flash[:notice] if flash[:notice].present? %>

 <%= form_for(@mobile_asset) do |f| %>


<%= render 'form', :f => f, :mobile_asset => @mobile_asset %>

<%= f.submit 'Create New Asset' %>
<%end%>


</div>
</div>