<% if params[:location_id].present? %>
  <% select = select_tag(:department_id, options_for_select(@departments.collect{|x| [x.name, x.id]}), {:include_blank => 'Please Select',:id => "department_id", :onChange => "get_teams(this);"}) -%>
  $('#department_id').replaceWith('<%= escape_javascript(select) %>');
  $('#department-dropdown').show();
  $('#department_id').attr('name', 'audit[department_id]');
  $('#teams-dropdown').hide();
  $('.ajax-loader').hide();
<% elsif params[:department_id].present? %>
  <% select = select_tag(:team_id, options_for_select(@teams.collect{|x| [x.name, x.id]}), {:include_blank => 'Please Select', :id => "team_id", :onChange => "get_auditee_users(this);"}) -%>
  $('#team_id').replaceWith('<%= escape_javascript(select) %>');
  $('#teams-dropdown').show();
  $('#team_id').attr('name', 'audit[team_id]');
  $('.ajax-loader-department').hide();
<% elsif params[:team_id].present? %>
  <% select = select_tag('audit[audit_auditees_attributes][123456789][user_id]', options_for_select(@team.users.collect{|x| [x.user_name, x.id]}), prompt: 'Select Auditee') %>
   var content = $(".team-auditee").html()
   $(".auditee-rows").append($(".auditee-remove").val(1))
   var regexp = new RegExp("0", "g");
   content = content.replace(regexp, "123456789")
   $(".team-auditee").remove()
  $('#auditee-list').append("<div class='team-auditee'>"+content+"</div>");
  $('.auditees-users').html("<%= escape_javascript(select)%>");
  $('.ajax-loader-team').hide();
<% end %>
