<div class="clearfix"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <!-- Nav tabs -->
      <div class="fright">
			  <div class="form-group audit_search">
			    <%= text_field_tag :query, params[:query], :class=>"form-control", :id => "search-value" %>
			    <%= submit_tag "Search", name: nil, :class=>"btn btn-default", :id => "search-button" %>
			  </div>
      </div>
      <div id="example" class="k-content">
        <div class="panel-container">
          <div id="tabstrip">
            <ul>
              <li class="k-state-active"> All </li>
              <li> Planned </li>
              <li> In Progress </li>
              <li> Published </li>
            </ul>
            <div class="row panel-block">
              <div class="col-md-12">
                <div class="box-wrapper">
                  <div id="gridforall"></div>
                </div>
              </div>
            </div>
            <div class="clearfix panel-block">
               <div class="row panel-block">
                <div class="col-md-12">
                   <div class="box-wrapper">
                       <div id="gridforplan"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="clearfix panel-block">
               <div class="clearfix panel-block">
               <div class="row panel-block">
                <div class="col-md-12">
                   <div class="box-wrapper">
                       <div id="gridforprogress"></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="clearfix panel-block">
            	<div class="clearfix panel-block">
               <div class="row panel-block">
                <div class="col-md-12">
                   <div class="box-wrapper">
                       <div id="gridforpublish"></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).load(function(){
	var $container = $('#grid_items');
	// initialize
	$container.masonry({
	  columnWidth: 292,
	  itemSelector: '.item',
	  isFitWidth: true
	});


	$(".block_banner img").each(function(index, element) {
		var screenImage = $(this);

		// Create new offscreen image to test
		var theImage = new Image();
		theImage.src = screenImage.attr("src");

		var imageHeight = theImage.height;

		$(this).css("max-height",imageHeight);
		$(this).css("min-height",imageHeight);
	});
});

$(".click_icon").click(function() {
	$(".share_pop").show();
});

$(".click_icon").click(function(){
	$(".share_pop").show();
});

$(document).ready(function(){

	Top_postion = $(window).scrollTop();

	$( ".user_login" ).mouseenter(function() {
		$(this).addClass("active");
		$(".account_header_dropdown").slideDown(100);
	})
	.mouseleave(function() {
		$(this).removeClass("active");
		$(".account_header_dropdown").hide();
	});

	//for notification drop hide in outside click
	onclick_icon = 0;
	$(".click_icon").mouseenter(function() {
		onclick_icon = 0;
	})
	.mouseleave(function() {
		onclick_icon = 1;
	});


	$("body").click(function(){
		if(onclick_icon){
			$(".share_pop").hide();
		}
	});


	/* placeholder */
	$(".place_holder").each(function(index, element) {
		placeholder = $(this).attr("data-original");
		$(this).val(placeholder);
		$(this).removeClass("active");
    });

	$(".place_holder").focus(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==placeholder){
			$(this).val("");
			$(this).addClass("active");
		}
	});
	$(".place_holder").blur(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==""){
			$(this).val(placeholder);
			$(this).removeClass("active");
		}else{
			$(this).addClass("active");
		}
	});
	$(".place_holder").click(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==placeholder){
			$(this).val("");
			$(this).addClass("active");
		}
	});

  function onActivate(e) {
  	$('#search-value').val('')
  	var tabActive = e.sender.tabGroup.children("li.k-state-active").attr("aria-controls")
  	var gridForSearch = select_grid(tabActive)
  	$("#"+gridForSearch).data("kendoGrid").dataSource.filter({});
  }

  $("#tabstrip").kendoTabStrip({
		activate: onActivate
  });

	$("#search-button").click(function(){
		var tabstrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
		var tabActive = tabstrip.tabGroup.children("li.k-state-active").attr("aria-controls")
    var val = $('#search-value').val();
    var gridForSearch = select_grid(tabActive)
    $("#"+gridForSearch).data("kendoGrid").dataSource.filter({
			logic  : "or",
			filters: [
				{
					field: "title",
					operator: "contains",
					value   : val
				},
				{
					field: "client",
					operator: "contains",
					value   : val
				},
				{
					field: "audit_type",
					operator: "contains",
					value   : val
				},
				{
					field: "compliance_type",
					operator: "contains",
					value   : val
				},
				{
					field: "auditor",
					operator: "contains",
					value   : val
				},
			]
		});
	})

	function select_grid(tabActive)
		{
			if(tabActive == 'tabstrip-1')
		  {
		    return "gridforall";
		  }
		  else if(tabActive == 'tabstrip-2')
		  {
		   	return "gridforplan";
		  }
		  else if(tabActive=='tabstrip-3')
		  {
		    return "gridforprogress";
		  }
		  else if(tabActive=='tabstrip-4')
		  {
		    return "gridforpublish";
		  }
		}


});
/*$(window).scroll(function(){
	Top_postion = $(window).scrollTop();

	if(Top_postion>10){
		$(".go_to_top").show();
	}else{
		$(".go_to_top").hide();
	}
});
$(".go_to_top").click(function(){
	top = 0;
	$("html, body").animate({scrollTop: "0"}, 800);
});
*/
</script>

<script type="text/javascript">
	function set_file(e)
	{
		var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
		if ( dataItem.compliance_type == "Compliance")
		{
			window.location.href = "/audit_compliances?audit_id="+ dataItem.id
		}
		else
		{
			window.location.href = "/nc_questions/new?audit_id="+ dataItem.id
		}
	}

	function check_file(e)
	{
		var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
		window.location.href = "/checklist_recommendations/new?id="+ dataItem.id
	}

	function act_file(e)
	{
		var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
		window.location.href = "/checklist_recommendations/auditee_response/"+ dataItem.id
	}
		function publish_file(e)
	{
		var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
		window.location.href = "/checklist_recommendations/audit_observation/"+ dataItem.id
	}
		function edit_file(e)
	{
		var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
		window.location.href = "/audits/"+ dataItem.id + "/edit"
	}

	function pdf_file(e)
	{
		var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
		window.location.href = "/audits/"+ dataItem.id
	}



	$(document).ready(function() {
		// Fancybox
		$(".fancybox").fancybox();

		// Kendo Datapicker
		$("#datepicker").kendoDatePicker();

		// Kendo Tab
		$("#tabstrip").kendoTabStrip({
			animation:  {
			open: {
				effects: "fadeIn"
				}
			}
		});

		// Kendo Panel
		$("#panelbarforall").kendoPanelBar();
			dataSource = new kendo.data.DataSource({
			transport: {
			read: {
				url: "/audits/audit_all",
				type: "post",
				dataType: 'json'
			}
		},
		schema: {
			errors: function(response) {
				return response.errors;
			},
				data: "data",
				model: {
					id: "id",
					fields:{
						id: { type: "string" },
						title: { type: "string" },
						client: { type: "string" },
						audit_type: { type: "string" },
						compliance_type: { type: "string" },
						auditor: {type: "string"}
					}
				if ( dataItem.compliance_type == "Compliance")
	      {
					window.location.href = "/audit_compliances?audit_id="+ dataItem.id
				}
       else
      	{
			   	window.location.href = "/nc_questions/new?audit_id="+ dataItem.id
		    }
			}
		});


		// Kendo Grid for all

		$("#gridforall").kendoGrid({
			dataSource: dataSource,

			height: 'auto',
			scrollable: true,
			sortable: true,
			filterable: true,
			pageable: {
			input: true,
			numeric: false
		},
		columns: [
			{ field: "title", title: "Audit Title" ,width: "35%"},
			{ field: "client", title: "Client Name", width: "35%" },
			{ field: "audit_type", title: "Audit Type", width: "35%" },
			{ field: "compliance_type", title: "Compliance Type", width: "35%" },
			{ field: "auditor", title: "Auditor Name", width: "35%" },

			{command: [{text: "Set", click: set_file},{text: "tick", click: check_file},{text: "tick1", click: act_file},{text: "book", click: publish_file},{text: "pdf", click: pdf_file},{text: "edit", click: edit_file}], title: "Edit", width: "180px" }

			],
		//editable: "popup"
		});

		$("#panelbarforplan").kendoPanelBar();

		dataSourceplan = new kendo.data.DataSource({
			transport: {
				read: {
					url: "/audits/audit_with_status?audit_status_id=1",
					type: "post",
					dataType: 'json'
				}
			},
			schema: {
				errors: function(response) {
					return response.errors;
				},
				data: "data",
					model: {
						id: "id",
						fields: {
						id: { type: "string" },
						title: { type: "string" },
						client: { type: "string" },
						audit_type: { type: "string" },
						compliance_type: { type: "string" },
						auditor: {type: "string"}
					}
				}
			}
		});


		//grid for planned
		$("#gridforplan").kendoGrid({
				dataSource: dataSourceplan,
				height: 'auto',
				scrollable: true,
				sortable: true,
				filterable: true,
				pageable: {
				input: true,
				numeric: false
			},
			columns: [
				{ field: "title", title: "Audit Title" ,width: "35%"},
				{ field: "client", title: "Client Name", width: "35%" },
				{ field: "audit_type", title: "Audit Type", width: "35%" },
				{ field: "compliance_type", title: "Compliance Type", width: "35%" },
				{ field: "auditor", title: "Auditor Name", width: "35%" },

				{command: [{text: "Set", click: set_file},{text: "tick", click: check_file},{text: "tick1", click: act_file},{text: "book", click: publish_file},"pdf",{text: "edit", click: edit_file}], title: "Edit", width: "180px" }
			],
			//editable: "popup"
		});




		$("#panelbarforprogress").kendoPanelBar();

		dataSourceprogress = new kendo.data.DataSource({
			transport: {
				read: {
					url: "/audits/audit_with_status?audit_status_id=3",
					type: "post",
					dataType: 'json'
				}
			},
			schema: {
				errors: function(response) {
					return response.errors;
				},
			data: "data",
			model: {
				id: "id",
				fields: {
					id: { type: "string" },
					title: { type: "string" },
					client: { type: "string" },
					audit_type: { type: "string" },
					compliance_type: { type: "string" },
					auditor: {type: "string"}
					}
				}
			}
		});


		//grid for InProgress
		$("#gridforprogress").kendoGrid({
			dataSource: dataSourceprogress,
				height: 'auto',
				scrollable: true,
				sortable: true,
				filterable: true,
				pageable: {
				input: true,
				numeric: false
			},
			columns: [
				{ field: "title", title: "Audit Title" ,width: "35%"},
				{ field: "client", title: "Client Name", width: "35%" },
				{ field: "audit_type", title: "Audit Type", width: "35%" },
				{ field: "compliance_type", title: "Compliance Type", width: "35%" },
				{ field: "auditor", title: "Auditor Name", width: "35%" },

				function pdf_file(e)
				{
					var dataItem = this.dataItem(jQuery(e.currentTarget).closest("tr"));
					window.location.href = "/audits/"+ dataItem.id +".pdf"
				}

				{command: [{text: "Set", click: set_file},{text: "tick", click: check_file},{text: "tick1", click: act_file},{text: "book", click: publish_file},"pdf",{text: "edit", click: edit_file}], title: "Edit", width: "180px" }
			],
			//editable: "popup"
		});







		$("#panelbarforpublish").kendoPanelBar();

		dataSourcepublish = new kendo.data.DataSource({
			transport: {
				read: {
					url: "/audits/audit_with_status?audit_status_id=4",
					type: "post",
					dataType: 'json'
				}
			},
			schema: {
				errors: function(response) {
				return response.errors;
			},
			data: "data",
			model: {
				id: "id",
				fields: {
					id: { type: "string" },
					title: { type: "string" },
					client: { type: "string" },
					audit_type: { type: "string" },
					compliance_type: { type: "string" },
					auditor: {type: "string"}
					}
				}
			}
		});


		//grid for published
		$("#gridforpublish").kendoGrid({
			dataSource: dataSourcepublish,
				height: 'auto',
				scrollable: true,
				sortable: true,
				filterable: true,
				pageable: {
				input: true,
				numeric: false
			},
			columns: [
				{ field: "title", title: "Audit Title" ,width: "35%"},
				{ field: "client", title: "Client Name", width: "35%" },
				{ field: "audit_type", title: "Audit Type", width: "35%" },
				{ field: "compliance_type", title: "Compliance Type", width: "35%" },
				{ field: "auditor", title: "Auditor Name", width: "35%" },

				{command: [{text: "Set", click: set_file},{text: "tick", click: check_file},{text: "tick1", click: act_file},{text: "book", click: publish_file},"pdf",{text: "edit", click: edit_file}], title: "Edit", width: "180px" }
			],
			//editable: "popup"
		});

		// Editable select box
		$('.editable-select').change(function(){
			modify();
		});

		function modify(){
			$('.editable-input').val($('.editable-select').val());
			output();
		}

		function output(){
			$('.editable-result').text('value: ' + $('.editable-input').val());
		}

		$('.editable-input').on('click', function(){
			$(this).select()
				}).on('blur', function(){
			output();
		})

		modify();

		// More contacts show
		$(".more-link").click(function(){
			if($(this).html() == "More")
				$(this).html("Less").parent().siblings(".more-info").show();
			else
				$(this).html("More").parent().siblings(".more-info").hide();
			});
		});

		// Edit Popup
		$(window).load(function(){
		$(".k-grid-edit").addClass("fancybox").attr("href", "#edit-popup");

	});
</script>
