<html>
<head>
	<title>Audit</title>
</head>
<body>
<p> <a href="/admin/settings">Company Admin Settings</a></p>
<p> <a href="/home/show">Audit Trail</a></p>
<p> <h4>FixNix Audit Management</h4></p>
</body>
</html>