<body>
	<div class="header">
	  <div class="container">	    
	    <div role="navigation" class="navbar navbar-inverse ">
	      <div class="container">
	        <div class="navbar-header">	        	         
	        </div>

	      </div>
	    </div>
	  </div>
	</div>



    <div style="width:800px; margin:0 auto; padding-top: 200px;padding-bottom: 250px;">
    	<h3>Welcome onboard!</h3>
        Your account has been successfully created. Please click on the confirmation link to activate your account.
        <br>
        Didn't recieve confirmation email? <a href="users/confirmation/new">Resend Confirmation Instrunctions</a>
    </div>
</body>