<body>
	<div class="header">
	  <div class="container">
	    <div role="navigation" class="navbar navbar-inverse ">
	      <div class="container">
	        <div class="navbar-header">
	        </div>
	        <div class="navbar-collapse collapse fleft">
	          <ul class="nav navbar-nav main_nav" id="next-phase">
	            <li ><a href="#">
	              FixNix GRC Platform</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
    <div style="width:800px; margin:0 auto; padding-top: 200px;padding-bottom: 250px;">
    	<h3>Welcome onboard! :)</h3>
        Your account has been successfully created. Please click on the confirmation link to activate your account.
        <br>
        Didn't recieve confirmation email? <a href="users/confirmation/new">Resend Confirmation Instructions</a>
    </div>
    <div class="footer">
	  <div class="container">
	    <div class="row">
	      <div class="footer_left col-lg-6">2014 &copy; FixNix Audit Management</div>
	      <div class="footer_right col-lg-6">Powered By<img alt="" src="assets/outer/footer_logo.png"></div>
	    </div>
	  </div>
	</div>
</body>