<!-- <h1>Company Created</h1>
<h2>Welcome to your company</h2> -->
<body>
    <div style="width:800px; margin:0 auto; padding-top: 250px;padding-bottom: 250px;">
        Your account has been successfully created. Please click on the confirmation link to activate your account.
        <br>
        Didn't recieve confirmation email? <a href="users/confirmation/new">Resend Confirmation Instrunctions</a>
    </div>
</body>