<script src="/assets/outer/highcharts.js"></script>
<script src="/assets/outer/exporting.js"></script>
<script src="/assets/outer/drilldown.js"></script>
<script src="/assets/outer/data.js"></script>
<script type="text/javascript" src="/assets/full_calendar.js"></script>
<link href="/assets/outer/fullcalendar.css" rel="stylesheet" />
<link href="/assets/outer/fullcalendar.print.css" rel="stylesheet" />
<% content_for :head do %>
<%= javascript_include_tag '/assets/views/policy_dashboard'%>
<%= stylesheet_link_tag '/assets/outer/dashboard' %>
<% end %>
    
    <div class="clearfix"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard-- Sample Dashboard</h1>
                    <h4>Yet to be implemented</h4>
                </div>
            </div>
            <!-- Column I -->
            <div class="row">
               <%= render 'policy_count' %>
            </div>
            <!-- Row Ends here -->

            <!-- Chart Starts here -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Location vs Status
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="container"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Task
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           
                            <div class="list-group">
                                <%= render 'to_do'%>
                            </div>
                        
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>


                <div class="col-lg-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Kind
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="container2"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-warning">
                    <div class="panel-heading">
                         <span class="glyphicon glyphicon-calendar"></span>Calendar
                    </div>
                        <div class="panel-body">
                            <div id="dashboard_calendar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>