<div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> &nbsp; </button>
      <h4 id="myModalLabel" class="modal-title">Text response for - <%= (@artifact_answer.artifact_name || @artifact_answer.audit_compliance.compliance_library_name)%></h4>
    <div class="file-body">
      <div id="list-file">
         <%= render partial: 'comment_form', locals: {artifact_answer: @artifact_answer}%>
      </div>
    </div>
</div>


