<div class="page-wrap">
<div class="content">
  <div class="container">
    <div class="row">
      <div id="example" class="k-content">
        <div class="risk-title">Document a New Risk</div>
        <a class="import-btn"><i class="download-icons"></i>Import  Risk</a>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="risk-wrap">
            <div class="sub-wrap">
              <div class="sub-titile">Use this form in order to document a new risk for consideration in the Risk Management Process.</div>
              <div class="sub-wrap-bg">
                <form class="form-horizontal" role="form">

                  <%= form_for(@risk) do |f| %>
                    <%= render 'form', :f => f, :risk => @risk %>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="" class="attach-icon fleft blue_link">Attach Document</a>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="btn-group gr-btn">
                          <%= f.submit "Save as Draft", :class => "grey_btn" %>
                          <%= f.submit "File Risk", :class => "orange_btn" %>
                        </div>
                      </div>
                    </div>
                  <% end %>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

