<div class="page-wrap">
  <div class="content">
    <div class="container">
      <div class="row">
        <div id="example" class="k-content">
          <div class="risk-title">Edit SourceCode</div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="risk-wrap">
              <div class="sub-wrap">
                <div class="sub-titile">SourceCodes</div>
                <div class="sub-wrap-bg">
                  <%= form_for(@sourcecode) do |f| %>
                    <%= render 'form', :f => f, :sourcecode => @sourcecode %>
                    <div class="row">
                      <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        <div class="btn-group gr-btn save-file">
                          <%= f.submit "Update SourceCode", :class => "grey_btn" %>
                          <a class="black_btn" href="javascript:goBack()">Back</a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>