<style>
  .audit_search {
    z-index: 0;
  }
</style>

<link rel="stylesheet" type="text/css" href="/assets/outer/asset-style.css">
<%= javascript_include_tag "/assets/views/document.js" %>

 <div id="test3"> 
<div class="containerFull">
  
  <%= render partial: "asset_partials/asset_left_menu" %>
 
</div>
 </div> 