<%= javascript_include_tag "/assets/views/nc_questions.js" %>
<div class="clearfix"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="audit-title">
        <h2>Checklist for Non - Compliance Audit</h2>
        <div class="audit-content container">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

</script>