<div class="clearfix"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="tab_main_title">Checklist for Non - Compliance Audit</div>
      <div class="audit-title">
        <h2>Audit : <%= @audit.title %></h2>
        <div class="audit-content container">
          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $(document).on("change", ".question_response", function(){
      if($(this).val() == "3"){
        $(this).parent().parent().parent().find(".hidden-item").fadeIn('fast');
      }
      else{
        $(this).parent().parent().parent().find(".hidden-item").fadeOut('fast');
      }
    });
  });
</script>