 <p>You can update card details for recurring payments <a href="/admin/transactions/new">here </a></p>

 <p>You can cancel your recurring payments <a href="/admin/transactions/<%= @transaction.id %>">here </a></p>