<html>
<body>
  <b>Hello</b>
  <b>Checklist for this audit has been prepared</b>
  <b>Please login to the application and start submitting artifacts before the target date</b>
  <p>Thank you for using FixNix Audit Management</p>
  <b>Request Information</b>
  Your request is <%= @nc_question.question %>
</body>
</html>