<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :name, "Display Name" %>
        <%= ff.text_field :name, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :description %>
        <%= ff.cktext_area :description, :class=>"form-control asset-big-input redactor" %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix border-divider"></div>