<link rel="stylesheet" type="text/css" href="/assets/outer/left-nav.css">

<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
          <a href="#"><i class="lock icon"></i> Information Assets</a>
      </li>
      <li>
          <a href="#"><i class="desktop icon"></i> Computers</a>
      </li>
      <li>
          <a href="#"><i class="tablet icon"></i> Mobile Assets</a>
      </li>
      <li>
          <a href="#"><i class="cloud download icon"></i> Software Assets</a>
      </li>
      <li>
          <a href="#"><i class="sitemap icon"></i> Service Assets</a>
      </li>
      <li>
          <a href="#"><i class="suitcase icon"></i> Miscellaneous</a>
      </li>
      <li>
          <a href="#"><i class="book icon"></i> Document Assets</a>
      </li>
      <li>
          <a class="active" href="#"><i class="code icon"></i> Source Code Assets</a>
      </li>
    </ul>
  </div>
</div>