<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>FixNix Audit Notifications</title>
   </head>
<body style="background:#f7f7f7; font-family:arial;">
<table style="margin:0 auto; width:580px;">
<tr><td align="right" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999;padding: 5px 0 10px;" st-content="preheader">If you cannot read this email, please  <a class="hlite" href="#" style="text-decoration: none; color: #53A93F">click here</a> </td></tr>
</table>

<table style="margin:0 auto; width:580px;"  cellpadding="0" cellspacing="0" border="0" >
<tr bgcolor="#53A93F" ><td style="color:#fff; padding:20px;" ><strong>Hey <%= @resource.email %>!</strong></td></tr>
</table>


<table style="margin:0 auto; width:580px;"  cellpadding="0" cellspacing="0" border="0" >
<tr><td style="color:#999999; padding:10px 0 0 20px;" ><strong>Someone has requested a link to change your password. You can do this through the link below.</strong></td>
</tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" ></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" ></td></tr>
</table>

<table style="margin:15px auto; width:580px;"  cellpadding="0" cellspacing="0" border="0">
<tr><td><%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), :style => "background:#53A93F; color:#fff; border-radius:5px; padding:5px 20px; text-decoration:none; margin: 0 0 0 15px;" %></td></tr>

</table>
<table style="margin:0px auto; width:580px;"  cellpadding="0" cellspacing="0" border="0">
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr bgcolor="#53A93F"><td>&nbsp;</td></tr>
</table>


</body>
</html>
