<div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="row"> 
        <!-- Nav tabs --> 
        <div class="tab_main_title">Auditor Observation</div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="all">
            <div class="table-responsive">
              <table class="table table-striped list-table">
                <tr>
                  <th colspan="6">Audit of the equal Oppertunities Policy</th>
                </tr>
                <tr>
                  <td><label>Client : </label>
                    <span> Gayathri</span></td>
                  <td><label>Title : </label>
                    <span> Policy Management Team</span></td>
                  <td><label>Scope : </label>
                    <span> Financial Reporting Council</span></td>
                </tr>
                <tr>
                  <td><label>Team : </label>
                    <span> Audit Astronaut And The Border</span></td>
                  <td><label>Start Date : </label>
                    <span> 16/03/2014</span></td>
                  <td><label>End Date : </label>
                    <span> 15/06 /2016</span></td>
                </tr>
                <tr>
                  <td><label>Delivarable : </label>
                    <span> Standards and procedures documentation</span></td>
                  <td><label>Objective : </label>
                    <span> Financial Reporting Council</span></td>
                  <td><label>Context :</label>
                    <span> Audit policy have session static semantics </span></td>
                </tr>
                <tr>
                  <td><label>Method : </label>
                    <span> Unic Audit Method</span></td>
                  <td><label>Issues : </label>
                    <span> Business/Occupational Breakdown</span></td>
                  <td><label>Compliance : </label>
                    <span> Subject to the compliance audit</span></td>
                </tr>
                <tr>
                  <td><label>Standard : </label>
                    <span>Government Auditing Standard</span></td>
                  <td><label>Topic : </label>
                    <span> Instance-level archived audit log</span></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="container">
            <div id="Accordion1">
              <h3><a href="#">A6.11 Management Commitment to information Security</a> <span class="fright pending_msg">Pending</span></h3>
              <div>
                <div class="row audit-title">
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Artifact :</b> </label>
                      <div class="col-sm-7"><a class="blue_link" href="">Information Security Policies</a> </div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Recommendation :</b> </label>
                      <div class="col-sm-7"> Recommendation by Auditor</div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Priority :</b> </label>
                      <div class="col-sm-7"> High</div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Comment :</b> </label>
                      <div class="col-sm-7"> Comment by Auditee</div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Reason :</b> </label>
                      <div class="col-sm-7"> procedures as part of the Knowledge Base</div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Severity :</b> </label>
                      <div class="col-sm-7"> High</div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Target Date :</b> </label>
                      <div class="col-sm-7"> 18/05/2015</div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Status :</b> </label>
                      <div class="col-sm-7"> Recommendation Status</div>
                    </div>
                   
                    
                  
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Score :</b> </label>
                      <div class="col-sm-7">
                        <div class="number_link"> <a class="active" href="">0</a> <a href="">1</a> <a href="">2</a> <a href="">3</a> <a href="">4</a> </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                     <h3>Audit Details</h3>
                  <div class="col-lg-4">
                    
                    <div class="form-group clearfix">
                      <label class="col-sm-5">Corrective Action</label>
                      <div class="col-sm-7"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                    </div>
                    <div class="form-group clearfix">
                      <label class="col-sm-5 control-label">Status</label>
                      <div class="col-sm-7"> Planned </div>
                    </div>
                    <div class="form-group clearfix">
                      <div class="col-sm-12"><a class="attach-icon fleft blue_link" href="">Attach Document</a></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5">Preventive Action</label>
                      <div class="col-sm-7"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                    </div>
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Priority :</b></label>
                      <div class="col-sm-7"> High </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5">Blocking :</label>
                      <div class="col-sm-7"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                    </div>
                     <div class="form-group clearfix">
                      <label class="col-sm-5">Dependent :</label>
                      <div class="col-sm-7"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                    </div>
                     <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Priority :</b></label>
                      <div class="col-sm-7"> High <a href="" class="attach-icon fright blue_link">Attach Document</a></div>
                    </div>

                    
                  </div>
                  
                  <div class="clearfix"></div>
                  
                  <h3>Auditor Observation</h3>
                  <div class="clearfix"></div>
                  
                  <div class="col-lg-6">
                  <div class="form-group clearfix">
                      <label  class="col-sm-3">Observation :</label>
                      <div class="col-sm-9"> <input class="audit-big-input" type="text"> </div>
                       
                    </div>
                    <div class="form-group clearfix">
                    <label  class="col-sm-3">Implemented</label>
                    <div><input type="checkbox"> Yes <input type="checkbox"> No</div>
                    
                    </div>
                  
                  </div>
                  <div class="col-lg-6">
                  <div class="form-group clearfix">
                      <label  class="col-sm-3">Remarks : </label>
                      <div class="col-sm-9"> <input class="audit-big-input" type="text"> </div>
                       
                    </div>
                  <div class="clearfix fright">
                  <a class="black_btn" href="">Publish</a>
                  </div>
                  </div>
                  
                </div>
              </div>
              <h3><a href="#">A6.11 Information Security Policy</a><span class="fright complete_msg">Completed</span></h3>
              <div>
                <p>Content 2</p>
              </div>
              <h3 ><a href="#">A6.13 Management Information Security Policy</a><span class="fright pending_msg">Pending</span></h3>
              <div>
                <p>Content 3</p>
              </div>
              <h3><a href="#">A6.14 Management Information Security Policy</a><span class="fright complete_msg">Completed</span></h3>
              <div>
                <p>Content 1</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
                    <div class="fright paddingtop"><a class="black_btn" href="">Back</a> <a class="grey_btn" href=""> Save Draft</a> <a class="orange_btn" href="">Overall Score</a></div>
        </div>
      </div>
    </div>
  </div>

  
<script type="text/javascript">
$(window).load(function(){
	var $container = $('#grid_items');
	// initialize
	$container.masonry({
	  columnWidth: 292,
	  itemSelector: '.item',
	  isFitWidth: true
	});
	
	
	$(".block_banner img").each(function(index, element) {
        var screenImage = $(this);

		// Create new offscreen image to test
		var theImage = new Image();
		theImage.src = screenImage.attr("src");
		
		var imageHeight = theImage.height;
		
		$(this).css("max-height",imageHeight);
		$(this).css("min-height",imageHeight);
    });
});

$(".click_icon").click(function() {
			$(".share_pop").show();
});

$(".click_icon").click(function(){
		$(".share_pop").show();
});
	
$(document).ready(function(){
	
	Top_postion = $(window).scrollTop();
	
	$( ".user_login" ).mouseenter(function() {
		$(this).addClass("active");
		$(".account_header_dropdown").slideDown(100);	  
	})
	.mouseleave(function() {
		$(this).removeClass("active");
		$(".account_header_dropdown").hide();
	});
	
	//for notification drop hide in outside click
	onclick_icon = 0;	  
	$(".click_icon").mouseenter(function() {
		onclick_icon = 0;	  
	})
	.mouseleave(function() {
		onclick_icon = 1;	  
	});
	
	
	$("body").click(function(){
		if(onclick_icon){
			$(".share_pop").hide();
		}
	});
	
	
	/* placeholder */
	$(".place_holder").each(function(index, element) {
		placeholder = $(this).attr("data-original");
		$(this).val(placeholder);
		$(this).removeClass("active");
    });

	$(".place_holder").focus(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==placeholder){
			$(this).val("");
			$(this).addClass("active");
		}
	});
	$(".place_holder").blur(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==""){
			$(this).val(placeholder);
			$(this).removeClass("active");
		}else{
			$(this).addClass("active");
		}
	});
	$(".place_holder").click(function(){
		placeholder = $(this).attr("data-original");
		current_value = $(this).val();
		if(current_value==placeholder){
			$(this).val("");
			$(this).addClass("active");
		}
	});
	/* placeholder */
	
	
});
/*$(window).scroll(function(){
	Top_postion = $(window).scrollTop();
	
	if(Top_postion>10){
		$(".go_to_top").show();
	}else{
		$(".go_to_top").hide();
	}
});
$(".go_to_top").click(function(){
	top = 0;
	$("html, body").animate({scrollTop: "0"}, 800);
});
*/
</script>
<link href="/assets/outer/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="/assets/outer/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<link href="/assets/outer/jquery.ui.accordion.min.css" rel="stylesheet" type="text/css">
<script src="/assets/outer/jquery-1.8.3.min.js" type="text/javascript"></script> 
<script src="/assets/outer/jquery-ui-1.9.2.accordion.custom.min.js" type="text/javascript"></script> 
<script type="text/javascript">
$(function() {
	$( "#Accordion1" ).accordion(); 
});
</script>
</body>
</html>
