<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> &nbsp; </button>
    <h4 id="myModalLabel" class="modal-title">List of Artifacts and Comments</h4>
    <div class="file-body">
	<% @artifact_answers.each do |artifacts|%>
	<div>
		<h4>Artifact - <%= artifacts.artifact_display_name%></h4>
		<% artifacts.attachments.each do |attachment|%>
			<li><%= link_to(File.basename(attachment.attachment_file_url), download_artifacts_audit_checklist_recommendations_path(id: attachment.id))%></li>
		<%end%>
		<br>
		<h4>Comments</h4>
		<p><%= artifacts.comment_comment %></p>
		<hr>
	</div>
	<% end %>
	</div>
</div>


