<input type="hidden" id="module" value="0">
<ul class="subbar-nav nav navbar-nav">
<li><a href="/admin/asset_types" class="<%= request.fullpath.include?("/admin/asset_types") == true ? 'active' : '' %>">
  Asset Types</a></li>
</ul>
