<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer_left col-lg-6">2014 &copy; FixNix Audit Management</div>
      <div class="footer_right col-lg-6">Powered By<img alt="" src="/assets/outer/footer_logo.png"></div>
    </div>
  </div>
</div>