<input type="hidden" id="module" value="0">
<ul class="subbar-nav nav navbar-nav" >
		<li><a href="/admin/fraud_types" class="<%= request.fullpath.include?("admin/fraud_types") == true ? 'active' : '' %>" >
			Fraud Types</a></li>
			
	</ul>