	<input type="hidden" id="module" value="0">
<ul class="subbar-nav nav navbar-nav" >
		<li><a href="admin/distribution_lists" class="<%= request.fullpath.include?("/admin/distribution_lists") == true ? 'active' : '' %>" >
			Distribution List</a></li>
	</ul>