	<input type="hidden" id="module" value="0">
<ul class="subbar-nav nav navbar-nav" >
		<li><a href="/admin/controls" class="<%= request.fullpath.include?("admin/controls") == true ? 'active' : '' %>" onclick="show_risk_links();">
			Controls</a></li>
			<li><a href="/admin/procedures" class="<%= request.fullpath.include?("admin/procedures") == true ? 'active' : '' %>" onclick="show_risk_links();">
			Procedures</a></li>
			<li><a href="/admin/processes" class="<%= request.fullpath.include?("admin/processes") == true ? 'active' : '' %>" onclick="show_risk_links();">
			Process</a></li>
	</ul>