<div class="policy-approver">
  <div class='policy_approver clearfix'>
    <label class="col-sm-4 control-label">
    </label>
    <div class="col-sm-7">
      <% if @policy.errors[:approver].present? %>
        <div class="error_message"><%= @policy.errors[:approver][0]%></div>
      <% end %>
      <div class="auditees-users">
        <%= f.select :approver, options_for_select(current_company.users.all.collect{|x| [x.user_name, x.id.to_i]}, :selected => f.object.approver), {include_blank: 'Select Reviewer' } %>
      </div>
      <%= link_to_remove_policy_approver "", f %>
    </div>
  </div>
</div>
